<ion-view view-title="Fund flow">
  <ion-content class="bg-light-blue">
    <div class="pb50">
      <div class="card top-card">
        <div class="item item-text-wrap">
          <span class="item-note custom-radio">
                  <label class=" item-toggle">
                    <label class="toggle toggle-energized">
                        <input type="checkbox">
                        <div class="track">
                        <div class="handle icon-lock"></div>
                        </div>
                    </label>
                  </label>
            </span>
          <div class="infra-div">
            <div class="infra-project bold">Infrastructure Grant to college</div>
            <!--<div>
              <label for="" class="dark">Upgradation of library</label>
            </div>-->
          </div>
        </div>
      </div>
      <div>
        <div class="padding-vertical">
          <div class="row">
            <div class="col-66">
              <div class="">
                <span class="item-note">
                 <label for="" class="dark bold">40%</label>
              </span>
                <p class="bold">Total funds received</p>
              </div>
              <div class="custom-slide-flow">
                <div class="complete"></div>
                <div class="begin-state" style="width:{{complete.state}}%"></div>
                <div class="begin-center" style="width:{{complete.center}}%"></div>
              </div>
              <div class="">
                <div class="rectangle" style="width:calc({{complete.institute}}% - 40px);display: inline-block;"></div>
                <label for="" class="balanced">50%</label>
              </div>
            </div>
            <div class="col-33">
              <div class="padding-horizontal">
                <p class="bold">₹ 40,00,000</p>
                <p class="grey">₹ 100,00,000</p>
              </div>
            </div>
          </div>
          <div class="list-share">
            <ul>
              <li><i class="ion ion-record positive"></i>Centre share</li>
              <li> <i class="ion ion-record royal"></i>State share</li>
              <li> <i class="ion ion-record balanced"></i>Utilization by Institue</li>
            </ul>
          </div>
          <div class="table-amount">
            <div class="card">
              <div class="tables">
                <div class="instlmnt">
                  <label class="bold">Installment 1: 40%</label>
                </div>
                <table>
                  <tbody>
                    <thead>
                      <tr>

                        <th class="bt0 br0 bl0">
                          Amount
                        </th>
                        <th class="bt0 br0 bl0">
                          Sent date
                        </th>
                        <th class="bt0 br0 bl0">
                          Recd date
                        </th>
                        <th class="bt0 br0 bl0">
                          Details
                        </th>
                      </tr>
                    </thead>

                    <tr>
                      <th colspan="4" class="text-center bb0 bl0">
                        CENTER RELEASE
                      </th>

                    </tr>
                    <tr>

                      <td class="bb0">
                        ₹24,00,000
                      </td>
                      <td class="bb0">
                        22.10.2016
                      </td>
                      <td class="bb0">
                        10.11.2016
                      </td>
                      <td class="bb0">
                        <label class="toggle toggle-balanced fund-btns">
                         <input type="checkbox">
                         <div class="track">
                           <div class="handle"></div>
                         </div>
                       </label>
                       <button class="button button-icon  ion-camera grey btn-custom-icon fund-btns">
                         <button class="button button-icon   ion-custom-comment btn-cmnt fund-btns"  ng-click=" openComment(); "></button>

                      </td>

                     </tr>
                     <tr>
                       <th colspan="4" class="text-center bb0 bl0">
                         STATE RELEASE
                       </th>
                     </tr>
                     <tr>

                       <td class="bb0">
                         ₹24,00,000
                       </td>
                       <td class="bb0">
                         22.10.2016
                       </td>
                       <td class="bb0">
                         10.11.2016
                       </td>
                       <td class="bb0">
                         <label class="toggle toggle-balanced fund-btns">
                          <input type="checkbox">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label>
                        <button class="button button-icon  ion-camera grey btn-custom-icon fund-btns">
                          <button class="button button-icon  ion-custom-comment btn-cmnt fund-btns"  ng-click=" openComment(); "></button>

                       </td>

                      </tr>
                      <tr>

                        <td class="bb0">
                          ₹24,00,000
                        </td>
                        <td class="bb0">
                          22.10.2016
                        </td>
                        <td class="bb0">
                          10.11.2016
                        </td>
                        <td class="bb0">
                          <label class="toggle toggle-balanced fund-btns">
                           <input type="checkbox">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                         <button class="button button-icon ion-camera grey btn-custom-icon fund-btns">
                           <button class="button button-icon ion-custom-comment btn-cmnt fund-btns"  ng-click=" openComment(); "></button>

                        </td>

                       </tr>


                    <!--<tr>
                      <th rowspan="2" class="state-release bl0">
                        <div class="rotate-state">
                          STATE RELEASE
                        </div>
                      </th>
                      <th class="text-left pr-10">
                        CENTRE SHARE
                      </th>
                      <td>
                        ₹24,00,000
                      </td>
                      <td>
                        <label class="toggle toggle-balanced">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
                      </td>
                      <td>
                        05.10.2016
                      </td>
                      <td class="text-center">
                      <button class="button button-icon ion-camera grey btn-custom-icon">
                      </td>
                    </tr>
                    <tr>
                      <th class="text-left pr-10 bl0">
                        STATE SHARE
                      </th>
                      <td>
                        ₹16,00,000
                      </td>
                      <td>
                        <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
                      </td>
                      <td>
                        26.11.2016
                      </td>
                      <td class="text-center">
                        <button class="button button-icon ion-camera grey btn-custom-icon">
                      </td>
                    </tr> -->
                    <!--<tr>
                      <th colspan="2" class="text-left bl0 bb0">
                        FUND UTILIZATION
                      </th>
                      <td colspan="3" class="bb0 td-bottom">
                        <div class="padding-horizontal">
                          <div class="discount ">
                            <div class="rectangle" style="width:{{complete.institute}}%"></div>
                            <div class="mark-make" style="left: calc({{complete.institute}}% - 15px);">50%</div>
                          </div>
                        </div>
                      </td>
                      <td class="bb0">
                        ₹20,00,000
                      </td>
                    </tr>-->
                  </tbody>
                </table>
                <div class="row">
                  <div class="col text-center">
                    <label class="tbl-btm ">Expected: <br>₹40,00,000</label>
                  </div>
                  <div class="col text-center">
                    <label class="tbl-btm ">Actual: <br>₹40,00,000</label>
                  </div>
                  <div class="col text-center">
                    <label class="tbl-btm ">Pending: <br>₹0</label>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <div class="tabs-custom">
      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="app.project">
          <i class="ion ion-ios-timer"></i> Overview
        </a>
        <a class="tab-item calm" ui-sref="app.fundFlow">
          <i class="ion ion-shuffle"></i> Fund Flow
        </a>
        <a class="tab-item" ui-sref="app.milestones">
          <i class="ion ion-social-buffer"></i> Projects
        </a>
        <!-- <a class="tab-item" ui-sref="app.utilization">
          <i class="ion ion-bag"></i> Utilization
        </a> -->
        <a class="tab-item" ui-sref="app.projectPhotos">
          <i class="ion  ion-android-camera"></i> Media
        </a>
      </div>
    </div>
  </ion-footer>
</ion-view>
