<ion-view view-title="Fund flow">
  <ion-content>
    <div class="">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="">
            <label for="">Infrastructure Grant</label>
          </div>
          <div class="">
            <label for="">Upgradation of library</label>
          </div>
          <label class=" item-toggle">
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
          </label>
        </div>
      </div>
      <div class="">
        <div class="">
          <label for="">Total funds received</label>
          <label for="">40%</label>
          <label for="">₹ 40,00,000</label>
        </div>
        <div class="">
          <img src="img/share1.png" alt="" />
          <label for="">₹ 100,00,000</label>
        </div>
        <div class="">
          <img src="img/rectangle6.png" alt="" />
          <label for="">50%</label>
        </div>
      </div>
      <div class="">
        <i class="ion ion-record"></i>Centre share
        <i class="ion ion-record"></i>State share
        <i class="ion ion-record"></i>Utilization by Institue
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <label for="">Instalment 1</label>
          <table>
            <tbody>
              <tr>
                <th colspan="2">
                  40%
                </th>
                <th>
                  AMOUNT
                </th>
                <th>
                  STATUS
                </th>
                <th>
                  DATE
                </th>
                <th>
                  DETAILS
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  CENTER RELEASE
                </th>
                <td>
                  ₹24,00,000
                </td>
                <td>
                  <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
                </td>
                <td>
                  22.09.2016
                </td>
                <td class="text-center">
                  <i class=" ion ion-camera"></i>
                </td>
              </tr>
              <tr>
                <th rowspan="2">
                  STATE RELEASE
                </th>
                <th>
                  CENTRE SHARE
                </th>
                <td>
                  ₹24,00,000
                </td>
                <td>
                  <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
                </td>
                <td>
                  05.10.2016
                </td>
                <td class="text-center">
                  <i class=" ion ion-camera"></i>
                </td>
              </tr>
              <tr>
                <th>
                  STATE SHARE
                </th>
                <td>
                  ₹16,00,000
                </td>
                <td>
                  <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
                </td>
                <td>
                  26.11.2016
                </td>
                <td class="text-center">
                  <i class=" ion ion-camera"></i>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  FUND UTILIZATION
                </th>
                <td colspan="4">
                  <img src="img/prediction.png" alt="" /> ₹20,00,000
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ui-sref="app.project">
        <i class="ion-custom  ion-overview"></i> Overview
      </a>
      <a class="tab-item" ui-sref="app.fundFlow">
        <i class="ion-custom  ion-fundflow"></i> Fund Flow
      </a>
      <a class="tab-item" ui-sref="app.milestones">
        <i class="ion-custom  ion-milestone"></i> Milestones
      </a>
      <a class="tab-item" ui-sref="app.utilization">
        <i class="ion-custom  ion-utilization"></i> Utilization
      </a>
      <a class="tab-item" ui-sref="app.projectPhotos">
        <i class="ion-custom  ion-photos"></i> Photos
      </a>
    </div>
  </ion-footer>
</ion-view>