<ion-view view-title="Fund flow">

  <ion-content class="bg-light-blue">
    <div class="pb50" ng-if="fundflow">
      <div class="card top-card">
        <div class="item item-text-wrap">
          <span class="item-note custom-radio">
                  <label class=" item-toggle">
                    <label class="toggle toggle-energized">
                        <input type="checkbox">
                        <div class="track">
                        <div class="handle icon-lock"></div>
                        </div>
                    </label>
                  </label>
          </span>
          <div class="infra-div">
            <div class="infra-project bold">{{fundflow.keycomponents.name}}</div>
            <!--<div>
              <label for="" class="dark">Upgradation of library</label>
            </div>-->
          </div>
        </div>
      </div>
      <div>
        <div class="padding-vertical">
          <div class="row">
            <div class="col-66">
              <div class="">
                <span class="item-note">
                 <label for="" class="dark bold">{{(fundflow.totalFundDetail.totalFundReleased/fundflow.allocationAmount*100) | number:2}}%</label>
                </span>
                <p class="bold">Total funds received</p>
              </div>
              <div class="custom-slide-flow">
                <div class="complete"></div>
                <div class="begin-state" ng-class="{'ng-zind': {{(fundflow.totalFundDetail.totalStateReleased/fundflow.allocationAmount*100 |number:2)}}<{{(fundflow.totalFundDetail.totalCenterReleased/fundflow.allocationAmount*100 |number:2)}}}"
                  style="width:{{(fundflow.totalFundDetail.totalStateReleased/fundflow.allocationAmount*100 |number:2)}}%"></div>
                <div class="begin-center" ng-class="{'ng-zind': {{(fundflow.totalFundDetail.totalStateReleased/fundflow.allocationAmount*100 |number:2)}}>{{(fundflow.totalFundDetail.totalCenterReleased/fundflow.allocationAmount*100 |number:2)}}}"
                  style="width:{{(fundflow.totalFundDetail.totalCenterReleased/fundflow.allocationAmount*100 |number:2)}}%"></div>
              </div>
              <div class="">
                <div class="rectangle" style="width:calc({{(fundflow.totalFundDetail.totalFundUtilized/fundflow.allocationAmount*100 |number:2)}}% );display: inline-block;"></div>
                <!-- <div class="rectangle" style="width:calc({{(fundflow.totalFundAllocationReleaseUlitize.totalUtilizedFund/fundflow.totalFundAllocationReleaseUlitize.totalAllocation*100 |number:2)}}% - 20px);display: inline-block;"></div> -->
                <label for="" class="balanced">{{(fundflow.totalFundDetail.totalFundUtilized/fundflow.allocationAmount*100 |number:2)}}%</label>
              </div>
            </div>
            <div class="col-33">
              <div class="padding-horizontal">
                <p class="bold">₹ {{fundflow.totalFundDetail.totalFundReleased/100000 | number:2}}Lacs</p>
                <p class="grey">₹ {{fundflow.allocationAmount/100000 | number:2}}Lacs</p>
              </div>
            </div>
          </div>
          <div class="list-share">
            <ul>
              <li><i class="ion ion-record positive"></i>Centre share</li>
              <li> <i class="ion ion-record royal"></i>State share</li>
              <li> <i class="ion ion-record balanced"></i>Utilization by Institue</li>
            </ul>
          </div>
          <div class="table-amount" ng-repeat="(key, value) in fundflow.transaction">
            <div class="card">
              <div class="tables">
                <div class="instlmnt">
                  <label class="bold" >Installment <span ng-if="key!='undefined'">{{key}}</span></label>
                </div>
                <div>
                  <table>
                    <tbody>
                      <thead>
                        <tr>
                          <th colspan="4" class="text-center bb0 bl0">
                            CENTER RELEASE
                          </th>
                        </tr>
                        <tr>
                          <th class="bt0 br0 bl0">
                            Amount
                          </th>
                          <th class="bt0 br0 bl0">
                            Sent date
                          </th>
                          <th class="bt0 br0 bl0">
                            Recd date
                          </th>
                          <th class="bt0 br0 bl0">
                            Details
                          </th>
                        </tr>
                      </thead>
                      <tr ng-repeat="tra in value['Center To State']">
                        <!--<td class="bb0">
                          ₹{{23232/100000 | number:2}}Lacs
                        </td>-->
                        <td class="bb0">
                          {{tra.amount}} 
                        </td>
                        <td class="bb0">
                          {{tra.transactionSent | date : 'dd.MM.yyyy'}}
                        </td>
                        <td class="bb0">
                          {{tra.transactionReceived | date : 'dd.MM.yyyy'}}
                        </td>
                        <td class="bb0">
                          <!-- <label class="toggle toggle-balanced fund-btns">
                          <input type="checkbox">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label> -->
                          <button class="button button-icon ion-camera grey btn-custom-icon fund-btns" ng-click="openImage(tra.photos)"></button>
                          <button class="button button-icon ion-custom-comment btn-cmnt fund-btns" ng-click="openRemark(tra.remarks)"></button>
                          <!-- <button class="button button-icon   ion-custom-comment btn-cmnt fund-btns"  ng-click=" openRemark(centerR._id.transactionRemark,centerR._id.type,$index); "></button> -->

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <thead>
                        <tr>
                          <th colspan="4" class="text-center bb0 bl0">
                            STATE RELEASE
                          </th>
                        </tr>
                        <tr>
                          <th class="bt0 br0 bl0">
                            Amount
                          </th>
                          <th class="bt0 br0 bl0">
                            Sent date
                          </th>
                          <th class="bt0 br0 bl0">
                            Recd date
                          </th>
                          <th class="bt0 br0 bl0">
                            Details
                          </th>
                        </tr>
                      </thead>
                      <tr ng-repeat="tra in value['State To Institute']">
                        <!--<td class="bb0">
                          ₹{{23232/100000 | number:2}}Lacs
                        </td>-->
                        <td class="bb0">
                          {{tra.amount}} 
                        </td>
                        <td class="bb0">
                          {{tra.transactionReceived | date : 'dd.MM.yyyy'}}
                        </td>
                        <td class="bb0">
                          {{tra.transactionSent | date : 'dd.MM.yyyy'}}
                        </td>
                        <td class="bb0">
                          <button class="button button-icon  ion-camera grey btn-custom-icon fund-btns" ng-click="openImage(tra.photos)">
                          <button class="button button-icon   ion-custom-comment btn-cmnt fund-btns"  ng-click="openRemark(tra.remarks)"></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col text-center">
                    <label class="tbl-btm ">Expected: <br>₹{{fundflow.allocationAmount}}</label>
                  </div>
                  <div class="col text-center">
                    <label class="tbl-btm ">Actual: <br>₹{{fundflow.totalFundDetail.totalStateReleased}}</label>
                  </div>
                  <div class="col text-center">
                    <label class="tbl-btm ">Pending: <br>₹{{fundflow.allocationAmount - fundflow.totalFundDetail.totalStateReleased}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer>
    <div class="tabs-custom">
      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="app.overview({ componentId: componentId})">
          <i class="ion ion-ios-timer"></i> Overview
        </a>
        <a class="tab-item calm" ui-sref="app.fundFlow({ componentId: componentId})">
          <i class="ion ion-shuffle"></i> Fund Flow
        </a>
        <a class="tab-item" ui-sref="app.milestones({ componentId: componentId})">
          <i class="ion ion-social-buffer"></i> Projects
        </a>
        <!-- <a class="tab-item" ui-sref="app.utilization">
          <i class="ion ion-bag"></i> Utilization
        </a> -->
        <a class="tab-item" ui-sref="app.projectPhotos({ componentId: componentId})">
          <i class="ion  ion-android-camera"></i> Media
        </a>
      </div>
    </div>
  </ion-footer>

</ion-view>
