<ion-view view-title="RUSA FUND TRACKER">
  <ion-nav-bar class="bar-positive">
    <!--<ion-nav-back-button>
    </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear search-btn ion-funnel" ng-click="filters();">
      </button>
      <!-- <button class="button button-icon button-clear search-btn ion-android-search" ui-sref="app.search">
      </button> -->
      <button class="button button-icon button-clear ion-android-more-vertical settings-btn" >
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-tabs class="tab-button tab-header has-header tabs-top">
    <ion-tab title="OVERVIEW">
      <ion-content class="tabs-content">
        <div class="">
          <!--<div class="top-div">
            <div class="row">
              <div class="col h5-border">
                <h5>450 <label for="">Projects to-date</label></h5>
              </div>
              <div class="col">
                <h5>76 <label for="">Active Projects</label></h5>
              </div>
            </div>
          </div>-->
           <!-- <div class="item-note toggle-institute filtering">
              <div class="button icon-left ion-funnel filter" ng-click="filters();">Filter</div>
            </div> -->
             <!--<div class="clearfix"></div>-->
          <div class="mid-div">
           <div class="row overview-mid">
                <div class="col-66">
                    <div class="funds-all">
                         
                        <h3 class="text-center allocated-size stable f16">
                           <i class="ion-record release col3"></i>
                           TOTAL ALLOCATION
                        </h3>
                        <h3 class="text-center bold f16">
                          250 Lacs
                        </h3>
                    </div>
                </div>
                <div class="col-33">
                    <div class="padding top">
                        <div class="recordings">
                            <p class="stable f12 text-center"><i class="ion-record release col1"></i>Funds Release</p>
                             
                            <div class="text-center ">
                                <p class="f16"> 100 LACS</p>
                            </div>
                        </div>
                    </div>
                    <div class="padding recordings">
                        <p class="stable f12 text-center"><i class="ion-record release col2"></i>Funds Utilized</p>
                         
                        <div class="text-center ">
                          
                            <p class="f16">75 LACS</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="total">
              <div class="">
                <i class="ion-record release"></i>
                <h5>₹ 550 Cr
                  <label>Total Allocation</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record fund"></i>
                <h5>₹ 300 Cr
                  <label>Total Fund Release</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record util"></i>
                <h5>₹ 180 Cr
                  <label>Total Fund Utilization</label>
                </h5>
              </div>
            </div>-->
            <!--<img src="img/stats.png" alt="" />-->
            <div class="padding chart-home">
              <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-dataset-override="override">
              </canvas>
              <h5 class="f16">
                75% Fund Utilization
              </h5>
            </div>
          </div>
          <div class="homes-main">

            <div class="home-bottom1 bgss">
              <div class="row">
                <div class="col"> <label>NO. OF INSTITUTIONS </label></div>
                <div class="col">
                  <h5> 250 Lacs</h5>
                </div>
              </div>
            </div>
            <!--<div class="home-bottom1">
              <div class="row">
                <div class="col"> <label>Active Utilization </label></div>
                <div class="col">
                  <h5>₹ 180 Cr</h5>
                </div>
              </div>
            </div>-->
          </div>
<div class="components ">
  <div class="row">
    <div class="col-50">
   <h5>Components</h5>
    </div>
    <div class="col-50 bleft">
 <div class="padding top padding-tops">
                        <div class="">
                            <p class="stable f12">Total 28</p>
                            <!--<div class="text-center">
                                <p class="f16"></p>
                            </div>-->
                        </div>
                    </div>
                      <div class="padding ">
                        <p class="stable f12">Delayed 5</p>
                        <!--<div class="text-center">
                            <p class="f16">5</p>
                        </div>-->
                    </div>
    </div>
  </div>
</div>
<div class="components ">
  <div class="row">
    <div class="col-50">
   <h5>Projects</h5>
    </div>
    <div class="col-50 bleft">
       <!--<h5 class="padding-tops">Funds Release</h5>-->
 <div class="padding top padding-tops">
   
                        <div class="">
                          
                            <p class="stable f12">Total 105</p>
                            <!--<div class="text-center">
                                <p class="f16"></p>
                            </div>-->
                        </div>
                    </div>
                      <div class="padding ">
                        <p class="stable f12">Delayed 15</p>
                        <!--<div class="text-center">
                            <p class="f16">5</p>
                        </div>-->
                    </div>
    </div>
  </div>
</div>
        </div>
      </ion-content>
    </ion-tab>
        <!--<ion-tab title="PROJECTs">-->
          <ion-tab title="FUND ALLOCATIONS">
      <ion-content class="tabs-content bg-grey-light">
        <div class="pb50">
          <div class="padding">
             <!--<div class="item-note toggle-institute filtering">
              <div class="button icon-left ion-funnel filter" ng-click="filters();">Filter</div>
            </div> -->

            <div class="clearfix"></div>
          </div>
          <div class="card-institue no-space pb110">

            <div ng-repeat="fundInstitute in fundInstitutes" class="card card-institute-detail  " ng-class="">
             <div class="infra-college no-pad {{fundInstitute.classStatus}}">
               <!--<div class="top-div">
            <div class="row">
              <div class="col h5-border">
                <h5 class=" color-white">Maharashtra</h5>
              </div>
              <div class="col">
              <h5  class=" color-white">Shivaji University</h5>
              </div>
            </div>
          </div>-->
                    <!--<div class="row top-div">
                      <div class="col h5-border">
                        <p>Maharashtra</p>
                      </div>
                      <div class="col">
 <p>Shivaji University</p>
                      </div>
                    </div>-->
                    </div>
              <div class="no-pad">
                <div class="paddings" ui-sref="app.project">
                  <div class="card-institute-head">
                    <div class="bg-blue">
                      <div class="row pd0 bb">
                        <div class="col-66 ">
                          <div class="inside-head triangle-up">
                            <div class="item-note dark">ID: 2244</div>
                            <div class="bold">{{fundInstitute.pab}}</div>
                          </div>
                        </div>
                        <div class="col-33">
                          <div class="text-center uppercase inside-head bl">{{fundInstitute.status}}</div>
                        </div>
                      </div>
                      <div class="row pd0 mtop">
                        <div class="col-66 ">
                          <div class="upgrade">
                            <div class="f16 pb15">Shivaji University</div>
                           
                            <div class="bold f16 uppercase">Maharashtra</div>
                           
                        </div>
                        </div>
                        <div class="col-33 bl">
                          <div class="upgrade">
                            <div class="text-center allocation-made">₹ (in lacs)
                              <h4 class="bold">100</h4> Allocation
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="infra-college">
                      INFRASTRUCTURE GRANT TO COLLEGE
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="bg-footer-card">
                  <div class="row pd0" ng-if="!card[$index]">
                    <div class="col-66">
                      <div class="ecommerce">
                        <span class="for-badge"><button class="button button-icon ion-custom-ecommerce {{fundInstitute.classcommerce}}"></button> <span class="badge badge-one">1</span></span>
                      </div>
                    </div>
                    <div class="col-33">
                      <div class="setting-down triangle-down">
                        <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen($index,true)"></button>
                        <button class="button button-icon ion-custom-gear btn-down btn-custom-icon " readmores ng-click="cardopen($index,true)"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="" ng-if="card[$index]">
                  <div class="drop-institute">
                    <div class="bg-blue">
                      <div class="row">
                        <div class="col-66">
                          <div class="padding">
                            <div class="text-center">Fund Utilization - ₹ (in lacs)</div>
                            <div class="chart-home institute-chart pd15">

                              <canvas id="doughnut" class="chart chart-doughnut" chart-data="fundInstitute.data1" chart-labels="fundInstitute.labels1" chart-colors="fundInstitute.colors1" chart-dataset-override="borderColor"></canvas>
                              <h5 class="f16 bold">
                            50%
                          </h5>
                            </div>
                            <div class="fund-dot">
                              <ul>
                                <li><i class="ion-record fund-dot1"></i> Centre share released: 24 / 24</li>
                                <li><i class="ion-record fund-dot2"></i> State share released: 16 / 16</li>
                                <li> <i class="ion-record fund-dot3"></i>
                                  <span class="item-note"><span class="badge badge-fund"> 1 </span></span>Fund utilization: 20 / 40 </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-33 bl rl">
                          <div class="padding">
                            <div class="bar-status">
                              <div class="text-center">Work Status</div>
                              <div class="text-center">
                                <div class="white-box">
                                  <div class="outer-capsule">
                                    <div class="capsule-bar"></div>
                                    <div class="capsule-bar"></div>
                                    <div class="capsule-bar"></div>
                                    <div class="capsule-bar"></div>
                                    <div class="capsule-bar"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="text-center bold dark f16 ">50%</div>
                            </div>
                            <div class="cert-bottom">
                              <div class="text-center">Ut. Cert.</div>
                              <div class="text-center bold dark f16">0</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bg-footer-card">
                    <div class="row pd0">
                      <div class="col-66">
                        <div class="ecommerce">
                          <span class="for-badge"><button class="button button-icon ion-custom-ecommerce"></button> <span class="badge badge-one">1</span></span>
                        </div>
                      </div>
                      <div class="col-33">
                        <div class="setting-down triangle-down">
                          <button class="button button-icon ion-custom-gear btn-down btn-custom-icon" ng-click="cardopen($index,true)"></button>
                          <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen($index,false)" ng-if="card[$index]"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <!--<ion-tab title="STATES">
      <ion-content class="tabs-content states-background">
        <div class="pb110">
          <div class="bar bar-header item-input-inset search-bar">
            <button class="button button-stable text-center">
          All States
           <i class="ion ion-ios-arrow-down right-arrow"></i>
        </button>
            <label class="item-input-wrapper">
          <input type="search" placeholder="Search by State name">
          <i class="icon ion-ios-search-strong placeholder-icon"></i>
        </label>
          </div>
          <div class="card state-card" ng-repeat="state in states">
            <a href="#/app/state" class="item">{{state}}</a>
          </div>
        </div>
      </ion-content>
    </ion-tab>-->
    <!-- <ion-tab title="OVERVIEW">
    </ion-tab> -->
  </ion-tabs>
</ion-view>
