<ion-view view-title="RUSA FUND TRACKER">
  <ion-content>

    <ion-tabs class=" tab-button">
       <ion-tab title="OVERVIEW" >
         <ion-content>

           <div class="">
             <div class="">
               <h4>450 Projects to-date</h4><h4>76 Active Projects</h4>

             </div>

            <div class="">
              <i class="ion-record"></i> <h4>₹ 550 Cr<h4>Total Allocation</h4></h4>
              <i class="ion-record"></i> <h4>₹ 300 Cr<h4>Total Fund Release</h4></h4>
              <i class="ion-record"></i> <h4>₹ 180 Cr<h4>Total Fund tilization</h4></h4>
            </div>
          <img src="img/stats.png" alt="" />
           </div>
           <ion-content>

       </ion-tab>
       <ion-tab title="STATES" >
         <ion-content  >

       </ion-content >

       </ion-tab>
  </ion-tabs>
</ion-content  >

</ion-view>
