<ion-view view-title="Mumbai University">
  <div class="bar bar-header bar-light">
  </div>
  <ion-tabs class=" tab-button tabs-top tab-header">
    <ion-tab title="OVERVIEW">
      <ion-content class="tabs-content">
        <div class="pb110">
          <div class="top-div">
            <div class="row">
              <div class="col h5-border">
                <h5>8 <label for="">Projects to-date</label></h5>
              </div>
              <div class="col">
                <h5>2 <label for="">Active Projects</label></h5>
              </div>
            </div>
          </div>
          <div class="mid-div">
            <div class="total">
              <div class="">
                <i class="ion-record release"></i>
                <h5>₹ 220,00,000
                  <label>Total Allocation</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record fund"></i>
                <h5>₹ 150,00,000
                  <label>Total Fund Release</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record util"></i>
                <h5>₹ 112,50,000
                  <label>Total Fund Utilization</label>
                </h5>
              </div>
            </div>
            <div class="padding chart-home">
              <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors">
              </canvas>
              <h5 class="f16">
                75% Fund Utilization
              </h5>
            </div>
          </div>
          <div class="home-bottom">
            <div class="">
              <label>Active Allocation </label>
              <h5>₹ 175,00,000</h5>
            </div>
            <div class="">
              <label>Active Utilization </label>
              <h5>₹ 87,50,000</h5>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="PROJECTS">
      <ion-content class="tabs-content">
        <div class="padding">
          <div class="item-note toggle-institute">
            <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track track-ins">
         <div class="handle toggle-handle"></div>
       </div>
     </label>
            <label for="" class="toggle-text bold">SHOW ALL</label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="card-institue pb110">
          <div class="card">
            <div class="item item-text-wrap">
              <div class="card-institute-head">
                <div class="item-note right-project-icons">
                  <i class="ion ion-custom-ecommerce ecommerce-green"></i>
                  <i class="ion ion-arrow-graph-up-right balanced arrowup"></i>
                  <span class="btn-custom-active balanced bold">Active</span>
                </div>
                <div class="calm bold">PAB 8</div>
                <div class="clearfix"></div>
              </div>
              <div class="card-institute-mid">
                <label class="item-note dark">₹ 75,00,000</label>
                <h4 class="bold">INFRASTRUTURE GRANT</h4>
                <div class="clearfix"></div>
              </div>
              <div class="card-institute-bottom">
                <label class="item-note">Allocated</label>
                <label for="">Sports facilities</label>
              </div>
              <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="card"></button>
              <div class="clearfix"></div>
            </div>
            <div class="item item-divider" ng-show="card">
              <div class="drop-institute">
                <div class="row">
                  <div class="col col-75">
                    <div class="fund-recieved">
                      <span class="item-note dark">₹ 40,00,000</span>
                      <h4>Fund received</h4>
                      <div class="clearfix"></div>
                      <div class="">
                        <img src="img/share.png" alt="" class="full-image" />
                      </div>
                    </div>
                    <div class="">
                      <img src="img/progressgreen.png" alt="" />
                    </div>
                    <label for="">Utilization</label>
                  </div>
                  <div class="col col-25">
                    <div class="">
                      <!--<img src="img/progress.png" alt="" class="full-image" />-->
                      <div class="chart-home institute-chart">
                        <canvas id="doughnut3" class="chart chart-doughnut" chart-data="data3" chart-labels="labels3" chart-colors="colors3">
                        </canvas>
                        <h5 class="f16">
                          50%
                        </h5>
                      </div>
                      <div class="text-center stable">Work</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="!card">
            </div>
          </div>
                    <div class="card">
            <div class="item item-text-wrap">
              <div class="card-institute-head">
                <div class="item-note right-project-icons">
                  <i class="ion ion-custom-ecommerce ecommerce-red"></i>
                  <i class="ion ion-arrow-graph-up-right balanced arrowup"></i>
                  <span class="btn-custom-active balanced bold">Active</span>
                </div>
                <div class="calm bold">PAB 8</div>
                         <div class="clearfix"></div>
              </div>

              <div class="card-institute-mid">
                <label class="item-note dark">₹ 75,00,000</label>
                <h4 class="bold">INFRASTRUTURE GRANT</h4>
                            <div class="clearfix"></div>
              </div>
              <div class="card-institute-bottom">
                <label class="item-note">Allocated</label>
                <label for="">Sports facilities</label>
              </div>
              <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="card"></button>
              <div class="clearfix"></div>
            </div>
            <div class="item item-divider" ng-show="card">
              <div class="drop-institute">
                <div class="row">
                  <div class="col col-75">
                    <div class="fund-recieved">
                      <span class="item-note dark">₹ 40,00,000</span>
                      <h4>Fund received</h4>
                      <div class="clearfix"></div>
                      <div class="">
                        <img src="img/share.png" alt="" class="full-image" />
                      </div>
                    </div>
                    <div class="">
                      <img src="img/progressgreen.png" alt="" />
                    </div>
                    <label for="">Utilization</label>
                  </div>
                  <div class="col col-25">
                    <div class="">
                      <div class="chart-home institute-chart">
                        <canvas id="doughnut2" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-colors="colors2">
                        </canvas>
                        <h5 class="f16">
                          50%
                        </h5>
                      </div>
                      <div class="text-center stable">Work</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="!card">
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
              <div class="card-institute-head">
                <div class="item-note right-project-icons">
                  <i class="ion ion-custom-ecommerce ecommerce-orange"></i>
                  <i class="ion ion-arrow-graph-up-right balanced arrowup"></i>
                  <span class="btn-custom-active stable bold">Completed <br>15.06.2016</span>
            </div>
            <div class="stable bold">PAB 7</div>
            <div class="clearfix"></div>
          </div>
          <div class="card-institute-mid">
            <label class="item-note stable">₹ 45,00,000</label>
            <h4 class="stable bold">INFRASTRUTURE GRANT</h4>
            <div class="clearfix"></div>
          </div>
          <div class="card-institute-bottom">
            <label class="item-note stable">Allocated</label>
            <label for="" class="stable">Contruction of boys hostel</label>
          </div>
          <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="card">
        </button>
              <div class="clearfix"></div>
            </div>
            <div class="item item-divider" ng-show="card">
              <div class="drop-institute">
                <div class="row">
                  <div class="col col-75">
                    <div class="fund-recieved">
                      <span class="item-note">₹ 40,00,000</span>
                      <h4>Fund received</h4>
                      <div class="clearfix"></div>
                      <div class="">
                        <img src="img/share.png" alt="" class="full-image" />
                      </div>
                    </div>
                    <div class="">
                      <img src="img/progressgreen.png" alt="" />
                    </div>
                    <label for="">Utilization</label>
                  </div>
                  <div class="col col-25">
                    <div class="">
                      <div class="chart-home institute-chart">
                        <canvas id="doughnut1" class="chart chart-doughnut" chart-data="data1" chart-labels="labels1" chart-colors="colors1">
                        </canvas>
                        <h5 class="f16">
                          50%
                        </h5>
                      </div>
                      <div class="text-center stable">Work</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="!card">
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>