<ion-view view-title="Mumbai University">
  <div class="bar bar-header bar-light">
  </div>
  <ion-tabs class=" tab-button tabs-top tab-header">
    <ion-tab title="OVERVIEW">
      <ion-content class="tabs-content">
        <div class="">
          <div class="top-div">
            <div class="row">
              <div class="col h5-border">
                <h5>8 <label for="">Projects to-date</label></h5>
              </div>
              <div class="col">
                <h5>2 <label for="">Active Projects</label></h5>
              </div>
            </div>
          </div>
          <div class="mid-div">
            <div class="total">
              <div class="">
                <i class="ion-record release"></i>
                <h5>₹ 220,00,000
                  <label>Total Allocation</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record fund"></i>
                <h5>₹ 150,00,000
                  <label>Total Fund Release</label>
                </h5>
              </div>
              <div class="">
                <i class="ion-record util"></i>
                <h5>₹ 112,50,000
                  <label>Total Fund Utilization</label>
                </h5>
              </div>
            </div>
            <img src="img/stats.png" alt="" />
            <!-- <div id="donutchart" class="col-xs-12 col-sm-6 col-md-4">
    <div id="chart"></div>
    <div id="labelOverlay">
      <p class="used-size">41<span>GB</span></p>
      <p class="total-size"> of 50GB</p>
    </div> -->
          </div>
          <div class="home-bottom">
            <div class="">
              <label>Active Allocation </label>
              <h5>₹ 175,00,000</h5>
            </div>
            <div class="">
              <label>Active Utilization </label>
              <h5>₹ 87,50,000</h5>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="PROJECTS">
      <ion-content class="tabs-content">
        <div class="padding">
          <div class="item-note">
            <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track track-ins">
         <div class="handle toggle-handle"></div>
       </div>
     </label>
            <label for="" class="toggle-text">SHOW ALL</label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="card-institue">
          <div class="card">
            <div class="item item-text-wrap">
              <div class="card-institute-head">
                <div class="item-note right-project-icons">
                  <i class="ion ion-custom-ecommerce"></i>
                  <i class="ion ion-arrow-graph-up-right balanced arrowup"></i>
                  <button class="button btn-custom-active">Active</button>
                </div>
                <div class="calm bold">PAB 8</div>
              </div>
              <div class="clearfix"></div>
              <div class="card-institute-mid">
                <label class="item-note">₹ 75,00,000</label>
                <h4>INFRASTRUTURE GRANT</h4>
              </div>
              <div class="clearfix"></div>
              <div class="card-institute-bottom">
                <label class="item-note">Allocated</label>
                <label for="">Sports facilities</label>
              </div>
              <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="card">
        </button>
              <div class="clearfix"></div>
            </div>
            <div class="item item-divider" ng-show="card">
              <div class="row">
                <div class="col col-75">
                  <div class="">
                    <span class="item-note">₹ 40,00,000</span>
                    <h4>Fund received</h4>
                  </div>
                  <div class="">
                    <img src="img/share.png" alt="" class="full-image" />
                  </div>
                  <div class="">
                    <img src="img/progressgreen.png" alt="" />
                  </div>
                  <label for="">Utilization</label>
                </div>
                <div class="col col-25">
                  <div class="">
                    <img src="img/progress.png" alt="" class="full-image" />
                    <div class="text-center">Work</div>
                  </div>
                </div>
              </div>
              <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="!card">
            </div>
          </div>
                   <div class="card">
            <div class="item item-text-wrap">
              <div class="card-institute-head">
                <div class="item-note right-project-icons">
                  <i class="ion ion-custom-ecommerce"></i>
                  <i class="ion ion-arrow-graph-up-right balanced arrowup"></i>
                  <button class="button btn-custom-active">Active</button>
            </div>
            <div class="calm bold">PAB 7</div>
          </div>
          <div class="clearfix"></div>
          <div class="card-institute-mid">
            <label class="item-note">₹ 45,00,000</label>
            <h4>INFRASTRUTURE GRANT</h4>
          </div>
          <div class="clearfix"></div>
          <div class="card-institute-bottom">
            <label class="item-note">Allocated</label>
            <label for="">Sports facilities</label>
          </div>
          <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="card">
        </button>
          <div class="clearfix"></div>
        </div>
        <div class="item item-divider" ng-show="card">
          <div class="row">
            <div class="col col-75">
              <div class="">
                <span class="item-note">₹ 40,00,000</span>
                <h4>Fund received</h4>
              </div>
              <div class="">
                <img src="img/share.png" alt="" class="full-image" />
              </div>
              <div class="">
                <img src="img/progressgreen.png" alt="" />
              </div>
              <label for="">Utilization</label>
            </div>
            <div class="col col-25">
              <div class="">
                <img src="img/progress.png" alt="" class="full-image" />
                <div class="text-center">Work</div>
              </div>
            </div>
          </div>
          <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="cardopen();" ng-hide="!card">
            </div>
          </div>
          <!--<div class="card">
            <div class="item item-text-wrap">
              <div class="">
                PAB 7 <img src="img/ecommerce.png" alt="" /> <i class="ion ion-arrow-graph-up-right"></i>
                <button class="button button-stable">Completed 15.06.2016</button>
        </div>
        <div class="">
          <label for="">INFRASTRUTURE GRANT</label>
          <label for="">₹ 45,00,000</label>
        </div>
        <div class="">
          <label for="">Construction of boys hostel</label>
          <label for="">Allocated</label>
        </div>
        <i class="ion ion-chevron-down" ng-click="cardopen();" ng-hide="card"></i>
        </div>
        <div class="item item-divider" ng-show="card">
          <div class="">
            <div class="">
              <label for="">Fund received</label>
              <label for="">₹ 40,00,000</label>
            </div>
            <div class="">
              <img src="img/share.png" alt="" />
            </div>
            <div class="">
              <img src="img/progressgreen.png" alt="" />
            </div>
            <label for="">Utilization</label>
          </div>
          <div class="">
            <img src="img/progress.png" alt="" />
            <label for="">Work</label>
          </div>
          <i class="ion ion-chevron-up" ng-click="cardopen();" ng-hide="!card"></i>
        </div>
        </div>-->
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>