<ion-view>
  <ion-content class="login-background">
    <h2 class="text-center rusa-title bold">RUSA</h2>
    <h5 class="text-center fund bold">FUND TRACKER</h5>
    <h4 class="text-center sign-in">SIGN IN</h4>
    <form ng-submit="login(formdata)" name="formLogin">
      <div class="list login-form">
        <label class="item item-input login border-login">
          <span class="input-label login-text" >Username:</span>
          <input type="text" class="input-text" ng-model="formdata.username"  name="uname" required>
        </label>
       <p class="error-msg" ng-show="formLogin.uname.$error.required && formLogin.uname.$touched">Please Enter Your Username.</p>
        <label class="item item-input login">
          <span class="input-label login-text">Password:</span>
          <input type="password" class="input-text" ng-model="formdata.password" name="password" required>
        </label>
        <p class="error-msg" ng-show="formLogin.password.$error.required && formLogin.password.$touched">Please Enter Your password</p>

      </div>
      <div class="text-center">
        <!-- <button class="button button-stable text-center login-button " type="submit">
          Login
        </button> -->
        <button class="button button-stable text-center login-button " ui-sref="app.home">
          Login
        </button>
      </div>
    </form>
    <h5 class="text-center forget" ui-serf="forgot">Forgot password?</h5>
  </ion-content>
</ion-view>
