<ion-view view-title="Mile">
    <ion-content>
        <div class="">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="">
                        <label for="">Infrastructure Grant</label>
                    </div>
                    <div class="">
                        <label for="">Upgradation of library</label>
                    </div>
                    <label class=" item-toggle">
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
                    </label>
                </div>
            </div>
            <div class="bar-sucess padding-horizontal">
                <span class="item-note">40%</span>
                <h4 class=""> Total work completed</h4>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="">
                        <div class="">
                            <p class="">Amount of work</p>
                            <p class="item-note">
                                <button class="button button-icon ion-ios-camera"></button>
                                <button class="button button-icon ion-android-more-vertical"></button>
                                <button class="button button-icon ion-android-more-vertical"></button>
                            </p>
                            <p class="">40%</p>
                        </div>
                    </div>
                </div>
                <div class="item item-divider" ng-show="card">
                    <div class="">
                        <div class="">
                            <label for="">Fund received</label>
                            <label for="">₹ 40,00,000</label>
                        </div>
                        <div class="">
                            <img src="img/share.png" alt="" />
                        </div>
                        <div class="">
                            <img src="img/progressgreen.png" alt="" />
                        </div>
                        <label for="">Utilization</label>
                    </div>
                    <div class="">
                        <img src="img/progress.png" alt="" />
                        <label for="">Work</label>
                    </div>
                    <i class="ion ion-chevron-up" ng-click="cardopen();" ng-hide="!card"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>