<ion-view view-title="Project">
  <ion-content class="bg-light-blue  has-tabs has-footer">
    <div class="">
      <div class="card top-card">
        <div class="item item-text-wrap">
          <span class="item-note custom-radio">
                  <label class=" item-toggle">
                    <label class="toggle toggle-energized">
                        <input type="checkbox">
                        <div class="track">
                        <div class="handle icon-lock"></div>
                        </div>
                    </label>
                  </label>
            </span>
          <div class="infra-div">
            <div class="infra-project bold">Infrastructure Grant to college</div>
            <!--<div>
              <label for="" class="dark">Upgradation of library</label>
            </div>-->
          </div>
        </div>
      </div>
      <!--<div class="bar-sucess padding-horizontal progress-div">
        <div class="">

          <h5 class="bold"> </h5>
        </div>
        <div class="custom-slide-miles">
          <div class="complete"></div>
          <div class="begin-complete" style="width:{{complete.value}}%"></div>
        </div>
      </div>-->
         <!-- <div class="progress-div">
              <div class="">
                <label for="" class="bold"> Total work completed</label>
                 <span class="item-note bold dark">40%</span>
              </div>
              <div class="custom-slide-miles utilization-margn">
                <div class="complete"></div>
                <div class="begin-complete" style="width:{{complete.value}}%"></div>
                <div class="mark-make" style="left: calc({{complete.value}}% - 20px);">{{complete.value}}%</div>
              </div>
            </div> -->
      <!-- <div class="card what-use">
        <div class="padding-horizontal mile-card">
          <div class=" clearfix col util-header pdb0">
            Project Type
          </div>

          <p class="display-inline">Preparing RFQ and evaluation</p>
          <div class="item-note buttons-right button-div">
            <button class="button button-icon ion-ios-camera"></button>
            <button class="button button-icon ion-custom-comment" ng-click=" openMilestoneAdd(); "></button>
            <label class="toggle toggle-assertive toggle-custom-mile">
                            <input type="checkbox" ng-checked=true>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                       </label>
            <button class="button button-icon ion-android-more-vertical more" ng-click="openUtilizationEdit();"></button>
          </div>

          <div class="util-row timeline-sec">
            <div class="row pd0">
              <div class="col-33 util-header text-center">
                <p>Amount of work</p>
              </div>
              <div class="col-33 util-header text-center">
                <p>Due date</p>
              </div>
              <div class="col-33 util-header text-center">
                <p>Completion date</p>
              </div>
            </div>
            <div class="row pd0 util-cont">
              <div class="col-33 util-content bold text-center">40%</div>
              <div class="col-33 util-content bold text-center">30.9.2016</div>
              <div class="col-33 util-content bold txt-green text-center">20.10.2016</div>
            </div>
          </div>
        </div>
      </div> -->




      <!--<div class="card what-use">
        <div class="padding-horizontal mile-card">
          <div class="header clearfix">
            Project Type
            <button class="button button-icon ion ion-link btnshare"></button>
          </div>
<div class="btn-para">
<p class="display-inline">Repair of existing library room / Civil work</p>

</div>

          <div class="item-note buttons-right button-div light-grey">
            <button class="button button-icon ion-ios-camera" disabled></button>
            <button class="button button-icon ion-custom-comment" disabled ng-click=" openComment(); "></button>
            <label class="toggle toggle-assertive toggle-custom-mile">
                            <input type="checkbox" ng-checked=true>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                       </label>
            <button class="button button-icon ion-android-more-vertical more" ng-click="openMilestoneEdit();"></button>
          </div>

          <div class="util-row timeline-sec">
            <div class="row pd0">
              <div class="col-33 util-header">
                <p>Amount of work</p>
              </div>
              <div class="col-33 util-header text-center">
                <p class="mg0">Due date</p>
              </div>
              <div class="col-33 util-header">
                <p>Completion date</p>
              </div>
            </div>
            <div class="row pd0 util-cont">
              <div class="col-33 util-content medium">40%</div>
              <div class="col-33 util-content medium text-center">30.9.2016</div>
              <div class="col-33 util-content medium txt-green"></div>
            </div>
          </div>
        </div>
      </div>-->
      <!--<div class="card unallocate">
        <div class="padding-horizontal mile-card text-center">
          <p>UNALLOCATED MILESTONES</p>
          <span class="medium">20%</p>
                </div>
            </div>-->
        </div>
          <div class="">

            <div class="progress-div">
              <div class="">
                <label for="" class="bold"> Fund Utilization for Work Orders</label>
                <label for="" class="rupee bold">₹ 20,00,000</label>
              </div>
              <div class="custom-slide-miles utilization-margn">
                <div class="complete"></div>
                <div class="begin-complete" style="width:{{complete.value}}%"></div>
                <div class="mark-make" style="left: calc({{complete.value}}% - 20px);">{{complete.value}}%</div>
              </div>
            </div>
            <div class="">
              <div class="card util-card padding spacings" ng-repeat="project in getAllprojectOfComponent.data">
                <div class="">
                  <div class="row ">
                     <div class="relative">
                    <div class="col util-header pdb0">Project Type</div>

   <!-- <div class="mile-card">
 <button class="button button-icon ion ion-link btnshare"></button>
                    </div> -->
                    </div>


                  </div>
                  <div class="row">
                    <div class="col util-content bold">{{project.projectType_data.name}}</div>
                    <button class="button button-icon ion-android-more-vertical more more-button" ng-click="openUtilizationEdit();"></button>
                  </div>
                  <!-- <div class="util-row"> -->

                  <div class="row">
                    <div class="col-50 util-header pd5">Asset Creation</div>
                    <div class="col-50 util-header pd5">

                       <div class="item-note">
                        <button class="button button-icon ion-camera util-camera pr0"></button>
                      </div>
                      <p class="mg0 util-header">Due Date</p>

                    </div>
                  </div>
                       <div class="row">
                    <div class="col-50 util-content bold pd5">{{project.assetType_data.name}}</div>

                    <div class="col-50 util-content bold pd5">
                      <p class="bold">
                      {{project.dueDate |date}}
                      </p>
                    </div>
                  </div>
                          <div class="row">
                    <div class="col-50 util-header pd5">Total Value</div>
                    <div class="col-50 util-header pd5">Amount of Work<span class="for-badge"><i class="badge badge-one">1</i></span></div>
                  </div>
                  <div class="row">
                    <div class="col-50 util-content bold pd5">₹ {{project.valueOfProject}}</div>

                    <div class="col-50 util-content bold pd5">
                       <div class="item-note">
                        <button class="button button-icon ion-android-share-alt links" ></button>
                      </div>
                      <p class="bold">
                        40%
                      </p>
                    </div>
                  </div>
                  <!--<div class="row">
                    <div class="col-50 util-content bold pd5">Alpha Contractores Private.LTD,Mumbai</div>
                    <div class="col-50 util-content bold pd5">15.10.2016</div>
                  </div>-->
                </div>
                <div class="tab-custom tab-border" ng-init="tab=1" ng-if="payment[$index]">
                  <ul class="tabs-util">
                      <li class="uppercase text-center" ng-click="tab = 1" ng-class="{active:tab == 1}">
                          Expenses
                      </li>
                      <!-- <li class="uppercase text-center" ng-click="tab = 2" ng-class="{active:tab == 2}">
                          <span class="for-badge bold">
                            Milestones <i class="badge badge-one">1</i>
                          </span>
                      </li> -->
                      <li class="uppercase text-center" ng-click="tab = 2" ng-class="{active:tab == 2}">
                          Notes
                      </li>
                  </ul>
                  <div ng-show="tab == 1">
                    <div class="row-main-util">
                      <div class="row util-row">
                        <div class="col-25 util-header fs12">Vender</div>
                        <div class="col-25 util-header text-center fs12">Allocation</div>
                        <div class="col-25 util-header text-center fs12">Released</div>
                        <div class="col util-header text-center">
                        </div>
                      </div>
                      <div class="row util-row">
                        <div class="col-25 util-content bold fs12">Neha</div>
                        <div class="col-25 util-content bold text-center fs12">₹ 5,00,000</div>
                        <div class="col-25 util-content bold text-center fs12">₹ 5,00,000</div>
                        <div class="col-25 tag text-center">
                          <div class="item-note">
                           <div class="tags">
                            <div class="add-tag" ng-click="openMilestoneEdit();">
                              <img src="img/tags.png" alt="">
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row util-row">
                        <div class="col-25 util-content bold fs12">Riya</div>
                        <div class="col-25 util-content bold text-center fs12">₹ 5,00,000</div>
                        <div class="col-25 util-content bold text-center fs12">₹ 5,00,000</div>
                        <div class="col-25 tag text-center">
                          <div class="item-note">
                           <div class="tags">
                            <div class="add-tag" ng-click="openMilestoneEdit();">
                              <img src="img/tags.png" alt="">
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div ng-show="tab == 2">
                    <div class="row-main-util">
                      <div class="row util-row">
                        <div class="col-20 util-header">%Work</div>
                        <div class="col-50 util-header">Item Description</div>

                      </div>
                      <div class="row util-row">
                        <div class="col-20 util-content bold">50%</div>
                        <div class="col-50 util-content bold">Clean-up of all areas</div>
                        <div class="col-30">
                           <div class="tags">
                            <div class="add-tag" ng-click="openMilestoneEdit();">
                              <img src="img/tags.png" alt="">
                            </div>
                          </div>
                          <div class="item-note custom-toggle-utili alignment">
                            <label class="toggle toggle-assertive toggle-custom-mile">
                                            <input type="checkbox" ng-checked=true>
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                       </label>
                          </div>


                        </div>
                      </div>
                      <div class="row util-row">
                        <div class="col-20 util-content bold">50%</div>
                        <div class="col-50 util-content bold">Clean-up of all areas</div>
                       <div class="col-30">
                           <div class="tags">
                            <div class="add-tag" ng-click="openMilestoneEdit();">
                              <img src="img/tags.png" alt="">
                            </div>
                          </div>
                          <div class="item-note custom-toggle-utili alignment">
                            <label class="toggle toggle-assertive toggle-custom-mile">
                                            <input type="checkbox" ng-checked=true>
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                       </label>
                          </div>


                        </div>
                      </div>

                    </div>
                  </div> -->
                  <div ng-show="tab == 2">
                    <div class="">
                      <div class="item comment">
                        <label class="item item-input">
                         <textarea placeholder="Comments"></textarea>
                       </label>
                      </div>
                    </div>
                    <div class="comment-button">
                     <button class="button button-small button-assertive submit-pop pull-left" >Comment</button>
                     <button class="button button-small button-assertive submit-pop item-note" >View all</button>
                   </div>

                    <!-- <div class="row-main-util">
                      <div class="row util-row">
                        <div class="col-33 util-header">Payment Date</div>
                        <div class="col-33 util-header">Value Released</div>
                        <div class="col-33 util-header">
                          Description
                        </div>
                      </div>
                      <div class="row util-row">
                        <div class="col-33 util-content bold">12.06.2016</div>
                        <div class="col-33 util-content bold">₹ 5,00,000</div>
                        <div class="col-33">
                          <div class="item-note">
                            <button class="button button-icon ion-camera util-camera"></button>
                          </div>
                          <div class="util-content bold">
                            Advance Payment
                          </div>
                        </div>
                      </div>
                      <div class="row util-row">
                        <div class="col-33 util-content bold">08.08.2016</div>
                        <div class="col-33 util-content bold">₹ 5,00,000</div>
                        <div class="col-33">
                          <div class="item-note">
                            <button class="button button-icon ion-camera util-camera stable"></button>
                          </div>
                          <div class="util-content bold">
                            Final Payment
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <!-- <div class="padding-horizontal">
                    <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon"></button>
                  </div> -->
                </div>
                <div class="padding-horizontal">
                  <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="hidePayment()" ng-if="payment[$index]"></button>
                </div>
                <div class="padding-horizontal">
                  <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="showPayment()" ng-if="!payment[$index]"></button>
                </div>
              </div>
            </div>
          </div>
    </ion-content>


    <ion-footer>
       <div class="float-button" ng-click="openCreate();">
        <a class="content ">
            <i class="ion ion-plus "> </i>
        </a>
      </div>
        <div class="tabs-custom ">
            <div class="tabs tabs-icon-top">
                <a class="tab-item" ui-sref="app.project({ componentId: componentId})">
                    <i class="ion ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow({ componentId: componentId})">
                    <i class="ion ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item calm" ui-sref="app.milestones({ componentId: componentId})">
                    <!--<i class="ion ion-calendar"></i> Milestones-->
                    <i class="ion ion-social-buffer"></i> projects

                </a>
                <!-- <a class="tab-item" ui-sref="app.utilization">
                    <i class="ion ion-bag"></i> Utilization
                </a> -->
                <a class="tab-item" ui-sref="app.projectPhotos({ componentId: componentId})">
                    <!--<i class="ion  ion-android-camera"></i> Photos-->
                     <i class="ion  ion-android-camera"></i> media
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>
