<ion-view view-title="Overview">
    <ion-nav-bar class="bar-positive">

        <ion-nav-buttons side="left hamburger">
            <button class="button button-icon button-clear ion-navicon " menu-toggle="left">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right ">

            <button class="button button-icon  search-btn ion-ios-telephone padings" ng-click="opencallmodal(overview.contact)">
        </button>

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-tabs">
        <div class="project-overview pb110">
            <div class="card top-card">
                <div class="item item-text-wrap">
                    <span class="item-note custom-radio">
                  <label class=" item-toggle">
                    <label class="toggle toggle-energized">
                            <input type="checkbox" ng-checked="overview.status == 'Completed'" disabled>
                        <div class="track">
                        <div class="handle icon-lock"></div>
                        </div>
                    </label>
                  </label>
          </span>

                    <div class="infra-div">
                        <div class="infra-project bold">{{overview.keycomponents.name}}</div>
                        <!--<div>
                  <label for="" class="dark">Upgradation of library</label>
                </div>-->
                    </div>
                </div>
            </div>
            <div class="row overview-mid">
                <div class="col-60">
                    <div class="funds-all">

                        <h5 class="text-center allocated-size stable ">
                            FUNDS ALLOCATED
                        </h5>
                        <h3 class="text-center bold f16 home-data">
                            ₹ {{overview.allocationAmount/100000 | indianCurrency}} Lacs
                        </h3>
                    </div>
                </div>
                <div class="col-40">
                    <div class="padding top">

                        <div class="recordings">
                            <p class="stable f12 text-center">PAB NO</p>

                            <div class="text-center ">
                                <p class="f16 bold">{{overview.pabno.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="padding recordings pad-change">
                        <p class="stable f12 text-center">RECEIVED TO DATE</p>
                        <div class="text-center ">
                            <p class="f16 bold">₹ {{overview.retVal.FundReleased/100000 | indianCurrency}} Lacs</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row">
                    <div class="col-66">
                        <div class="bold f16">Latest fund inflow</div>
                    </div>
                    <div class="col-33">
                        <div class="bold f16 text-center">₹ {{overview.transaction[0].amount/100000 | indianCurrency}} Lacs</div>
                    </div>
                </div>
            </div>
            <div class="progress-bar text-center">
                <div class="padding chart-home overview-chat">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-dataset-override="override">
                    </canvas>
                    <h5 class="f24 dark-grey">
                        {{overview.workCompleted}}%
                    </h5>
                </div>
                <p class="text-center energized bold f16 uppercase bold">Work Completed</p>
            </div>
            <div class="fund-date">
                <div class="allinpercent">all in (%)</div>
                <div class="padding-horizontal">
                    <div class="custom-slide-projects">
                        <div class="allocated-bar" style="width:100%"></div>
                        <div class="received-bar textRight" style="width:{{(overview.retVal.FundReleased/overview.allocationAmount*100)||0}}%">{{(overview.retVal.FundReleased/overview.allocationAmount*100 | number:0) || 0}}</div>
                        <div class="made-bar" style="width:{{(overview.retVal.getFundUtilized/overview.allocationAmount*100) || 0}}%">
                            {{(overview.retVal.getFundUtilized/overview.retVal.FundReleased*100 | number:0) || 0}}</div>
                    </div>
                </div>
            </div>
            <div class="row fund-date">
                <div class="col">

                    <p class="bold"><i class="ion-record fund-util-purple"></i> Funds Utilized To Date</p>
                </div>
                <div class="col">
                    <div class="">
                        <i class="ion-record grey"></i>
                        <label for="">Received</label>
                        <i class="ion-record light-grey"></i>
                        <label for="">Allocated</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="bar-line">
        </div>
        </div>
    </ion-content>
    <ion-footer>
        <div class="tabs-custom ">
            <div class="tabs tabs-icon-top">
                <a class="tab-item calm">
                    <i class="ion-custom ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow({ componentId: componentId})">
                    <i class="ion-custom ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item" ui-sref="app.project({ componentId: componentId})">
                    <!--<i class="ion-custom ion-calendar"></i> Milestones-->
                    <i class="ion-custom ion-social-buffer"></i> projects
                </a>
                <!-- <a class="tab-item" ui-sref="app.utilization">
                    <i class="ion-custom ion-bag"></i> Utilization
                </a> -->
                <a class="tab-item" ui-sref="app.projectPhotos({ componentId: componentId})">
                    <!--<i class="ion-custom  ion-android-camera"></i> Photos-->
                    <i class="ion-custom  ion-android-camera"></i> media
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>