<ion-view view-title="Photo Gallery">

    <ion-content>
      <div class="row photos">
        <div class="col-33" ui-sref="photogallery">
          <div class="gallery">
            <img src="img/fundpic.jpg" alt="">
          </div>
        </div>
        <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic1.jpg" alt="">
          </div>
        </div>
        <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic2.jpg" alt="">
        </div>
        </div>
      </div>
      <div class="row photos">
        <div class="col-33" ui-sref="photogallery">
          <div class="gallery">
            <img src="img/fundpic3.jpg" alt="">
          </div>
        </div>
        <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic2.jpg" alt="">
          </div>
        </div>
        <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic1.jpg" alt="">
        </div>
        </div>
      </div>
      <div class="row photos">
        <div class="col-33" ui-sref="photogallery">
          <div class="gallery">
            <img src="img/fundpic.jpg" alt="">
          </div>
        </div>
        <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic1.jpg" alt="">
          </div>
        </div>
        <!-- <div class="col-33">
          <div class="gallery">
            <img src="img/fundpic2.jpg" alt="">
        </div>
        </div> -->
      </div>
        <!-- <ion-gallery ion-gallery-items="photos" ng-if="photos"></ion-gallery>
        <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%" >
        </ion-infinite-scroll> -->
    </ion-content>
</ion-view>
