<ion-view view-title="RUSA FUND TRACKER">
    <ion-content>
        <div class="project-overview">
            <div class="">
                <h4>
                    Infrastructure Grant
                </h4>
            </div>
            <div class="row">
                <div class="col-66">
                    <div class="funds-all">
                        <p>
                            Funds Allocated
                        </p>
                    </div>
                    <p>
                        100,00,000
                    </p>
                </div>
                <div class="col-33">
                    <div class="">
                        PAB NO
                        <div class="text-center">
                            <p>8</p>
                        </div>
                    </div>
                    <div class="">
                        RECEIVED TO DATE
                        <div class="text-center">
                            <p>40,00,000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-66">Latest fund inflow</div>
                    <div class="col-33">16,00,000</div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="text-center">Work Completed</p>
            </div>
            <div class="">
                <div class="row">
                    <div class="col">
                        <p>Funds Utilized To Date</p>
                    </div>
                    <div class="col">
                        <form action="">
                            <input type="radio" name="project" value="received"> Received
                            <input type="radio" name="project" value="allocated"> Allocated
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>