<ion-view view-title="Fund Utilization">
    <ion-content>
        <div class="project-overview">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="">
                        <label for="">Infrastructure Grant</label>
                    </div>
                    <div class="">
                        <label for="">Upgradation of library</label>
                    </div>
                    <label class=" item-toggle">
                        <label class="toggle toggle-assertive">
                            <input type="checkbox">
                            <div class="track">
                            <div class="handle"></div>
                            </div>
                        </label>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-66">
                    <div class="funds-all">
                        <p>
                            Funds Allocated
                        </p>
                    </div>
                    <p>
                        100,00,000
                    </p>
                </div>
                <div class="col-33">
                    <div class="">
                        PAB NO
                        <div class="text-center">
                            <p>8</p>
                        </div>
                    </div>
                    <div class="">
                        RECEIVED TO DATE
                        <div class="text-center">
                            <p>40,00,000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-66">Latest fund inflow</div>
                    <div class="col-33">16,00,000</div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="text-center">Work Completed</p>
            </div>
            <div class="">
                <div class="row">
                    <div class="col">
                        <p>Funds Utilized To Date</p>
                    </div>
                    <div class="col">
                        <form action="">
                            <label class="radio-inline"><input type="radio" name="project" value="received"> Received
                            </label>
                            <label class="radio-inline"><input type="radio" name="project" value="allocated"> Allocated
                        </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bar-line">
            </div>
        </div>
    </ion-content>
    <ion-footer>
        <div class="tabs tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-home"></i> Overview
            </a>
            <a class="tab-item">
                <i class="icon ion-shuffle"></i> Fund Flow
            </a>
            <a class="tab-item">
                <i class="icon ion-calendar"></i> Milestones
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i> Utilization
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-camera"></i> Photos
            </a>
        </div>
    </ion-footer>
</ion-view>