<ion-view view-title="Project Photos">
    <ion-content>
    </ion-content>
    <ion-footer>
        <div class="tabs-custom">
              <div class="tabs tabs-icon-top">
                <a class="tab-item" ui-sref="app.project">
                    <i class="ion ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow">
                    <i class="ion ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item" ui-sref="app.milestones">
                    <i class="ion ion-calendar"></i> Milestones
                </a>
                <!-- <a class="tab-item" ui-sref="app.utilization">
                    <i class="ion ion-bag"></i> Utilization
                </a> -->
                <a class="tab-item calm" ui-sref="app.projectPhotos">
                    <i class="ion  ion-android-camera"></i> Photos
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>
