<ion-view view-title="Project">
    <ion-nav-bar class="bar-positive">

        <ion-nav-buttons side="left hamburger">
            <button class="button button-icon button-clear ion-navicon " menu-toggle="left">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right ">

            <button class="button button-icon  search-btn ion-ios-telephone padings" ng-click="opencallmodal(overview.contact)">
        </button>

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bg-light-blue  has-tabs has-footer">
        <div class="">
            <div class="card top-card">
                <div class="item item-text-wrap">
                    <span class="item-note custom-radio">
                  <label class=" item-toggle">
                    <label class="toggle toggle-energized">
                            <input type="checkbox" ng-checked="overview.status == 'Completed'" disabled>
                        <div class="track">
                        <div class="handle icon-lock"></div>
                        </div>
                    </label>
                  </label>
          </span>
                    <div class="infra-div">
                        <div class="infra-project bold">{{overview.keycomponents.name}}</div>

                    </div>
                </div>
            </div>

        </div>
        <div class="">

            <div class="progress-div">
                <div class="">
                    <label for="" class="bold"> Fund Utilization for Work Orders</label>
                    <label for="" class="rupee bold" ng-if="">₹ {{ (componentProjects[0].totalAmountReleased/100000 | number:2) ||  0}}Lacs</label>
                </div>
                <div class="custom-slide-miles utilization-margn">
                    <div class="complete"></div>
                    <div class="begin-complete" style="width:{{componentProjects[0].totalAmountReleased/componentProjects[0].components.allocationAmount*100}}%"
                        ng-if="totalamt!=0"></div>
                    <div class="mark-make" style="left: calc({{componentProjects[0].totalAmountReleased/componentProjects[0].components.allocationAmount*100}}% - 25px);"
                        ng-if="totalamt!=0">{{componentProjects[0].totalAmountReleased/componentProjects[0].components.allocationAmount*100| number:2
                        }}%
                    </div>
                    <div class="mark-make" style="left: calc(0% - 10px);" ng-if="totalamt==0">0%</div>
                </div>
            </div>
            <div class="project-bt">
                <div class="card util-card padding spacings" ng-repeat="project in componentProjects track by $index">
                    <div class="">
                        <div class="row ">
                            <div class="col util-header pdb0">Project Type</div>
                            <div class="col util-header pdb0" ng-if="project.status">Status : <span class="util-content bold">{{project.status}}</span></div>

                        </div>
                        <div class="row">
                            <div class="col util-content bold">{{project.projectType.name}}</div>
                            <button class="button button-icon ion-android-more-vertical more more-button" ng-click="openUtilizationEdit(project._id);"
                                ng-if="overview.status != 'Completed'"></button>
                        </div>

                        <div class="row">
                            <div class="col-50 util-header pd5">Asset Creation</div>
                            <div class="col-50 util-header pd5">
                                <div class="item-note">

                                </div>
                                <p class="mg0 util-header">Due Date</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50 util-content bold pd5">{{project.assetType.name}}</div>
                            <div class="col-50 util-content bold pd5">
                                <p class="bold">
                                    {{project.dueDate | date}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50 util-header pd5">Total Value</div>
                            <div class="col-50 util-header pd5">Amount of Work</div>
                        </div>
                        <div class="row">
                            <div class="col-50 util-content bold pd5">₹ {{project.valueOfProject/100000|number:2}} Lacs</div>

                            <div class="col-50 util-content bold pd5">

                                <p class="bold">
                                    {{project.completedAmountOfWork}}%
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-custom tab-border" ng-init="tab=1" ng-if="payment[$index]">
                        <ul class="tabs-util">
                            <li class="uppercase text-center" ng-click="tab = 1" ng-class="{active:tab == 1}">
                                Work-order
                            </li>

                            <li class="uppercase text-center" ng-click="tab = 2" ng-class="{active:tab == 2}">
                                Notes
                            </li>
                        </ul>
                        <div ng-show="tab == 1">
                            <div class="row-main-util">

                                <div class="row util-row">
                                    <div class="col-25 util-header fs12 ">Vendor</div>
                                    <div class="col-25 util-header text-center fs12">Allocation</div>
                                    <div class="col-25 util-header text-center fs12">Released</div>
                                </div>
                                <div class="row util-row" ng-repeat="proEx in project.projectExpense">
                                    <div class="col-25 util-content bold fs12 vendor-name" ng-click="openMilestoneEdit(proEx,project._id,project.components)">{{proEx.vendor.name}}</div>
                                    <div class="col-25 util-content bold text-center fs12" ng-click="openMilestoneEdit(proEx,project._id,project.components)">₹ {{proEx.allocatedAmount/100000|number:2}}Lacs</div>
                                    <div class="col-25 util-content bold text-center fs12" ng-click="openMilestoneEdit(proEx,project._id,project.components)">₹ {{proEx.VendorReleaseAmount/100000|number:2}}Lacs</div>
                                    <div class="col-25 util-content bold text-center fs26" ng-click="openPDF(proEx.orderFile)">
                                        <i class="icon ion-document-text"></i>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-show="tab == 2">
                            <form class="" ng-submit="commentNotes(project._id,comment.text)">
                                <div class="">
                                    <div class="item comment">
                                        <label class="item item-input">
                                            <textarea placeholder="Comments" ng-model="comment.text" required></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="comment-button">
                                    <button class="button button-small button-assertive view-pop pull-left" type="submit" ng-disabled="!comment.text">Comment</button>
                            </form>
                            <button class="button button-small button-assertive view-pop item-note" ng-click="viewAll(project._id)">View all</button>
                            </div>
                        </div>
                    </div>
                    <div class="padding-horizontal">
                        <button class="button button-icon ion-chevron-up item-note btn-down btn-custom-icon" ng-click="showPayment($index,false)"
                            ng-if="payment[$index]"></button>
                    </div>
                    <div class="padding-horizontal">
                        <button class="button button-icon ion-chevron-down item-note btn-down btn-custom-icon" ng-click="showPayment($index,true)"
                            ng-if="!payment[$index]"></button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>


    <ion-footer>
        <div class="float-button" ng-click="openCreate();" ng-if="overview.status != 'Completed'">
            <a class="content ">
                <i class="ion ion-plus"> </i>
            </a>
        </div>
        <div class="tabs-custom ">
            <div class="tabs tabs-icon-top">
                <a class="tab-item" ui-sref="app.overview({ componentId: componentId})">
                    <i class="ion ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow({ componentId: componentId})">
                    <i class="ion ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item calm">
                    <i class="ion ion-social-buffer"></i> projects

                </a>

                <a class="tab-item" ui-sref="app.projectPhotos({ componentId: componentId})">
                    <i class="ion  ion-android-camera"></i> media
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>