<!-- <ion-view view-title="Project Photos"> -->
<ion-view view-title="Project Photos">
    <ion-nav-bar class="bar-positive">

        <ion-nav-buttons side="left hamburger">
            <button class="button button-icon button-clear ion-navicon " menu-toggle="left">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right ">

            <button class="button button-icon  search-btn ion-ios-telephone padings" ng-click="opencallmodal(overview.contact)">
        </button>

        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- <ion-content class="has-tabs photos-list">
    <div class="">

      <div class="row photos" ng-repeat="pic in allPhotos">
        <div class="col-50" ui-sref="app.photogallery({componentId:componentId,projectId:data._id})" ng-repeat="data in pic">
          <div class="relative">
            <div class="black-strip">
                <h4>{{data.projectType.name}}</h4>
            </div>
            <img ng-src="img/fundpic.jpg" alt="" ng-if="!data.photos[0].photo">
            <img ng-src="{{data.photos[0].photo | uploadpath}}" alt="" ng-if="data.photos[0].photo">
          </div>
        </div>
      </div>





      </div>



    </ion-content> -->
    <ion-tabs class="tab-button tab-header has-header tabs-top ordertab">
        <ion-tab title="Projects">

            <ion-content class="  has-tabs-top-pro">
                <div class="propic" ng-repeat="pr in projects">


                    <div class="">
                        <label for="">Asset Type :{{pr.assetType.name}}</label>
                    </div>
                    <div class="">
                        <label for="">Project Type :{{pr.projectType.name}}</label>
                    </div>
                    <div class="row photos" ng-repeat="p in pr.photos">
                        <div class="col-25" ng-repeat="p1 in p">
                            <div class="relative" ng-if=" p1.photo.slice(p1.photo.length-3, p1.photo.length) =='pdf'  " ng-click="openPDF(p1.photo)">

                                <div class="pic-pro">
                                    <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
                                </div>
                            </div>
                            <div class="relative" ng-click="openImage(p1.photo)" ng-if=" p1.photo.slice(p1.photo.length-3, p1.photo.length) !='pdf'  ">

                                <div class="pic-pro">
                                    <img src="{{p1.photo | uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Transactions">

            <ion-content class="has-tabs-top-pro">
                <div class="propic" ng-if="CenterToState">


                    <div class="">
                        <label for="">{{CenterToState[0][0].transactionType}} :</label>
                    </div>

                    <div class="row photos" ng-repeat="tr in CenterToState">
                        <div class="col-25" ng-repeat="t1 in tr">
                            {{t1.photo.slice(t1.photo.length-3, t1.photo.length)}}
                            <div class="relative" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) =='pdf'  " ng-click="openPDF(t1.file)">
                                <div class="pic-pro">
                                    <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
                                </div>
                            </div>
                            <div class="relative" ng-click="openImage(t1.file)" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) !='pdf'">

                                <div class="pic-pro">
                                    <img ng-src="{{t1.file |uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="propic" ng-if="StateToInstitute">


                    <div class="">
                        <label for="">{{StateToInstitute[0][0].transactionType}} :</label>
                    </div>

                    <div class="row photos" ng-repeat="tr in StateToInstitute">
                        <div class="col-25" ng-repeat="t1 in tr">
                            <div class="relative" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) =='pdf'" ng-click="openPDF(t1.file)">

                                <div class="pic-pro">
                                    <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
                                </div>
                            </div>
                            <div class="relative" ng-click="openImage(t1.file)" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) !='pdf'  ">

                                <div class="pic-pro">
                                    <img ng-src="{{t1.file |uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="propic" ng-if="InstituteToVendor">


                    <div class="">
                        <label for="">{{InstituteToVendor[0][0].transactionType}} :</label>
                    </div>

                    <div class="row photos" ng-repeat="tr in InstituteToVendor">

                        <div class="col-25" ng-repeat="t1 in tr">
                            <div class="relative" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) =='pdf'  " ng-click="openPDF(t1.file)">

                                <div class="pic-pro">
                                    <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
                                </div>
                            </div>
                            <div class="relative" ng-click="openImage(t1.file)" ng-if=" t1.file.slice(t1.file.length-3, t1.file.length) !='pdf'  ">

                                <div class="pic-pro">
                                    <img ng-src="{{t1.file |uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="UC">


            <ion-content class="top-93 has-footer ">


                <div class="btm-150">


                    <div class="card" ng-repeat="formData in utilizationCertificates">
                        <!-- <a class="button button-icon icon ion-edit item-note edit-btn"></a>
                    <div class="clearfix">
                    </div> -->

                        <ul class="list">
                            <div class="milestone-add">


                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Installment no : {{formData.installmentNo}}</span>
                                    <!-- <input type="text" placeholder="Installment no" ng-model="formData.installmentNo"> -->
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Date of UC : {{formData.date | date}}</span>
                                    <!-- <input type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="date" placeholder="Date of UC" ng-model="formData.date" ng-value="{{formData.date |date}}"> -->
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Value (in INR):{{formData.amount}}</span>
                                    <!-- <input type="number" placeholder="Value (in INR)" ng-model="formData.amount"> -->
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Upload payment Proof : </span>

                                    <div class="image-grid" ng-click="openImage(formData.images)" ng-if=" formData.images.slice(formData.images.length-3, formData.images.length) !='pdf'  ">
                                        <img ng-src="{{formData.images | uploadpath}}">
                                    </div>
                                    <div class="image-grid" ng-click="openPDF(formData.images)" ng-if=" formData.images.slice(formData.images.length-3, formData.images.length) =='pdf'  ">
                                        <img ng-src="{{formData.images | uploadpath}}">
                                    </div>


                                </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </ion-content>

            </div>

            <ion-footer>
                <div class="float-button" ng-click="openUcForm();">
                    <a class="content ">
                        <i class="ion ion-plus "> </i>
                    </a>
                </div>
            </ion-footer>

        </ion-tab>
        </ion-tab>
    </ion-tabs>
    <ion-footer>
        <div class="tabs-custom">
            <div class="tabs tabs-icon-top">
                <a class="tab-item" ui-sref="app.overview({ componentId: componentId})">
                    <i class="ion ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow({ componentId: componentId})">
                    <i class="ion ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item" ui-sref="app.project({ componentId: componentId})">
                    <!--<i class="ion ion-calendar"></i> Milestones-->
                    <i class="ion ion-social-buffer"></i> projects
                </a>
                <!-- <a class="tab-item" ui-sref="app.utilization">
                    <i class="ion ion-bag"></i> Utilization
                </a> -->
                <a class="tab-item calm">
                    <!--<i class="ion  ion-android-camera"></i> Photos-->
                    <i class="ion  ion-android-camera"></i> media
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>