<ion-view view-title="Project Photos">
    <ion-content class="has-tabs photos-list">
    <div class="">

      <div class="row photos" ng-repeat="pic in allPhotos">
        <div class="col-50" ui-sref="app.photogallery({componentId:componentId,projectId:data._id})" ng-repeat="data in pic">
          <div class="relative">
            <div class="black-strip">
                <h4>{{data.projectType.name}}</h4>
            </div>
            <img ng-src="img/fundpic.jpg" alt="" ng-if="!data.photos[0].photo">
            <img ng-src="{{data.photos[0].photo | uploadpath}}" alt="" ng-if="data.photos[0].photo">
          </div>
        </div>
      </div>


      <!-- <div class="row photos">
        <div class="col">
          <div class="relative">
            <div class="black-strip">
                <h4>Album</h4>
            </div>
            <img src="img/fundpic2.jpg" alt="">
          </div>

        </div>
        <div class="col">
          <div class="relative">
            <div class="black-strip">
                <h4>Album</h4>
            </div>
            <img src="img/fundpic3.jpg" alt="">
          </div>

        </div>

      </div> -->


      </div>

    </ion-content>
    <ion-footer>
        <div class="tabs-custom">
              <div class="tabs tabs-icon-top">
                <a class="tab-item" ui-sref="app.overview({ componentId: componentId})">
                    <i class="ion ion-ios-timer"></i> Overview
                </a>
                <a class="tab-item" ui-sref="app.fundFlow({ componentId: componentId})">
                    <i class="ion ion-shuffle"></i> Fund Flow
                </a>
                <a class="tab-item" ui-sref="app.milestones({ componentId: componentId})">
                    <!--<i class="ion ion-calendar"></i> Milestones-->
                       <i class="ion ion-social-buffer"></i> projects
                </a>
                <!-- <a class="tab-item" ui-sref="app.utilization">
                    <i class="ion ion-bag"></i> Utilization
                </a> -->
                <a class="tab-item calm" ui-sref="app.projectPhotos({ componentId: componentId})">
                    <!--<i class="ion  ion-android-camera"></i> Photos-->
                    <i class="ion  ion-android-camera"></i> media
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>
