<ion-view view-title="Fund Utilization">
    <ion-content>
      <div class="card">
  <div class="item item-text-wrap">
    <div class="">
      <label for="">Infrastructure Grant</label>
    </div>
    <div class="">
      <label for="">Upgradation of library</label>
    </div>
    <label class=" item-toggle">
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
  </div>
</div>
<div class="">
  <div class="card">
  <div class="item item-text-wrap">
    <div class="row">
  <div class="col">Item</div>
  <div class="col">
    <div class="item-note">
      <button class="button button-icon ion-android-more-vertical"></button>
    </div>
    <div class="">
      Total Value
    </div>
  </div>
</div>
    <div class="row">
  <div class="col">Purchase of200 books</div>
  <div class="col">
    <div class="">
      ₹ 10,00,000
    </div>
  </div>
</div>
<div class="row">
<div class="col">vender</div>

  </div>
<div class="row">
<div class="col-50">Sterling Book Depot,Mumbai</div>

  </div>
   <div class="item item-body">
     <div class="row">
     <div class="col-33">Payment Date</div>
     <div class="col-33">Value released</div>
     <div class="col-33">

       <div class="">
         Description
       </div></div>
     </div>
     <div class="row">
     <div class="col-33">22.09.2016</div>
     <div class="col-33">₹ 10,00,000</div>
     <div class="col-33">
       <div class="item-note">
         <button class="button button-icon ion-camera"></button>
       </div>
       <div class="">
         Final Payment
       </div></div>
     </div>
  </div>
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    <div class="row">
  <div class="col">Item</div>
  <div class="col">
    <div class="item-note">
      <button class="button button-icon ion-android-more-vertical"></button>
    </div>
    <div class="">
      Total Value
    </div>
  </div>
</div>
    <div class="row">
  <div class="col">Repair/ Civil work</div>
  <div class="col">
    <div class="">
      ₹ 10,00,000
    </div>
  </div>
</div>
<div class="row">
<div class="col">vender</div>

  </div>
<div class="row">
<div class="col-50">Alpha Contractors Pvt. Ltd., Mumbai</div>

  </div>
   <div class="item item-body">
     <div class="row">
     <div class="col-33">Payment Date</div>
     <div class="col-33">Value released</div>
     <div class="col-33">

       <div class="">
         Description
       </div></div>
     </div>
     <div class="row">
     <div class="col-33">12.06.2016</div>
     <div class="col-33">₹ 5,00,000</div>
     <div class="col-33">
       <div class="item-note">
         <button class="button button-icon ion-camera"></button>
       </div>
       <div class="">
         Advance Payment
       </div></div>
     </div>
     <div class="row">

     <div class="col-33">08.08.2016</div>
     <div class="col-33">₹ 5,00,000</div>
     <div class="col-33">
       <div class="item-note">
         <button class="button button-icon ion-camera"></button>
       </div>
       <div class="">
         Final Payment
       </div></div>
     </div>
  </div>
  </div>
</div>
</div>
<button  class="button button-icon ion-plus-round"></button>
    </ion-content>
    <button  class="button button-outline  ion-plus-round"></button>
</ion-view>
