<ion-view view-title="Fund Utilization">
  <ion-content>
    <div class="card top-card">
        <div class="item item-text-wrap">
            <span class="item-note custom-radio">
                <label class=" item-toggle">
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                    <div class="handle icon-lock"></div>
                    </div>
                </label>
                </label>
            </span>
            <div class="">
                <div class="medium f16">Infrastructure Grant</div>
                <div class="">
                    <label for="" class="dark">Upgradation of library</label>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-div">
      <div class="">
        <label for="">Total payment/Fund Utilization</label>
        <label for="" class="rupee">₹ 20,00,000</label>
      </div>
      <img src="img/progressbar.png" alt="" />
    </div>
    <div class="">
      <div class="card util-card padding">
          <div class="top-util">
            <div class="row ">
              <div class="col-50 util-header">Item</div>
              <div class="col-50 util-header">
                <div class="item-note ">
                  <button class="button button-icon ion-android-more-vertical util-more"></button>
                </div>
                <div class="">
                  Total Value
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50 util-content">Purchase of200 books</div>
              <div class="col-50 util-content">
                  ₹ 10,00,000
              </div>
            </div>
            <div class="row util-row">
              <div class="col-50 util-header">vender</div>
            </div>
            <div class="row">
              <div class="col util-add">Sterling Book Depot,Mumbai</div>
            </div>
          </div>
<div class="">
    <div class="row util-row">
      <div class="col-33 util-header">Payment Date</div>
      <div class="col-33 util-header">Value released</div>
      <div class="col-33 util-header">
        <div class="">
          Description
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33 util-content">22.09.2016</div>
      <div class="col-33 util-content">₹ 10,00,000</div>
      <div class="col-33 util-content">
        <div class="item-note">
          <button class="button button-icon ion-camera util-camera util-camera"></button>
        </div>
        <div class="">
          Final Payment
        </div>
      </div>
    </div>

</div>

      </div>
      <div class="card util-card padding">

          <div class="top-util">
            <div class="row ">
              <div class="col-50 util-header">Item</div>
              <div class="col-50 util-header">
                <div class="item-note ">
                  <button class="button button-icon ion-android-more-vertical util-more"></button>
                </div>
                <div class="">
                  Total Value
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50 util-content">Repair/ Civil work</div>
              <div class="col-50 util-content">
                  ₹ 10,00,000
              </div>
            </div>
            <div class="row util-row">
              <div class="col-50 util-header">vender</div>
            </div>
            <div class="row">
              <div class="col util-add">Alpha Contractors Pvt. Ltd., Mumbai</div>
            </div>
          </div>
          <div class="">
            <div class="row">
              <div class="col-33 util-header">Payment Date</div>
              <div class="col-33 util-header">Value released</div>
              <div class="col-33 util-header">
                <div class="">
                  Description
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-33 util-content">12.06.2016</div>
              <div class="col-33 util-content">₹ 5,00,000</div>
              <div class="col-33">
                <div class="item-note">
                  <button class="button button-icon ion-camera util-camera"></button>
                </div>
                <div class="util-content">
                  Advance Payment
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-33 util-content">08.08.2016</div>
              <div class="col-33 util-content">₹ 5,00,000</div>
              <div class="col-33">
                <div class="item-note">
                  <button class="button button-icon ion-camera util-camera"></button>
                </div>
                <div class="util-content">
                  Final Payment
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <button class="button button-icon ion-plus-round"></button>

    <div class="tabs-custom">
      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="app.project">
          <i class="ion-custom  ion-overview"></i> Overview
        </a>
        <a class="tab-item" ui-sref="app.fundFlow">
          <i class="ion-custom  ion-fundflow"></i> Fund Flow
        </a>
        <a class="tab-item" ui-sref="app.milestones">
          <i class="ion-custom  ion-milestone"></i> Milestones
        </a>
        <a class="tab-item" ui-sref="app.utilization">
          <i class="ion-custom  ion-utilization-active"></i> Utilization
        </a>
        <a class="tab-item" ui-sref="app.projectPhotos">
          <i class="ion-custom  ion-photos"></i> Photos
        </a>
      </div>
    </div>
  </ion-footer>
</ion-view>
