<ion-view view-title="Fund Utilization">
  <ion-content class="bg-light-blue">
    <div class="pb110">
      <div class="card top-card">
        <div class="item item-text-wrap">
          <span class="item-note custom-radio">
                <label class=" item-toggle">
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                    <div class="handle icon-lock"></div>
                    </div>
                </label>
                </label>
            </span>
          <div class="">
            <div class="medium f16">Infrastructure Grant</div>
            <div class="">
              <label for="" class="dark">Upgradation of library</label>
            </div>
          </div>
        </div>
      </div>
      <div class="progress-div">
        <div class="">
          <label for="" class="bold">Total payment/Fund Utilization</label>
          <label for="" class="rupee bold">₹ 20,00,000</label>
        </div>
        <div class="custom-slide-miles utilization-margn">
          <div class="complete"></div>
          <div class="begin-complete" style="width:{{complete.value}}%"></div>
          <div class="mark-make">{{complete.value}}%</div>
          <!--<img src="img/progressbar.png" alt="" />-->
        </div>
      </div>
      <div class="">
        <div class="card util-card padding">
          <div class="top-util">
            <div class="row ">
              <div class="col-50 util-header">Item</div>
              <div class="col-50 util-header">
                <div class="item-note">
                  <button class="button button-icon ion-android-more-vertical util-more" ng-click="openUtilizationEdit()"></button>
                </div>
                <div class="util-header">
                  Total Value
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50 util-content bold">Purchase of 200 books</div>
              <div class="col-50 util-content bold">
                ₹ 10,00,000
              </div>
            </div>
            <div class="row util-row">
              <div class="col-50 util-header">Vender</div>
            </div>
            <div class="row">
              <div class="col util-add bold">Sterling Book Depot,Mumbai</div>
              <button class="button button-icon ion-trash-a util-more assertive"></button>
            </div>
          </div>
          <div class="">
            <div class="row util-row">
              <div class="col-33 util-header">Payment Date</div>
              <div class="col-33 util-header">Value released</div>
              <div class="col-33 util-header">
                <div class="">
                  Description
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-33 util-content bold">22.09.2016</div>
              <div class="col-33 util-content bold">₹ 10,00,000</div>
              <div class="col-33 util-content">
                <div class="item-note">
                  <button class="button button-icon ion-camera util-camera util-camera"></button>
                </div>
                <div class="bold">
                  Final Payment
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card util-card padding">
          <div class="top-util">
            <div class="row ">
              <div class="col-50 util-header">Item</div>
              <div class="col-50 util-header">
                <div class="item-note">
                  <button class="button button-icon ion-android-more-vertical util-more" ng-click="openUtilizationEdit()"></button>
                </div>
                <div class="util-header">
                  Total Value
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50 util-content bold">Repair/ Civil work</div>
              <div class="col-50 util-content bold">
                ₹ 10,00,000
              </div>
            </div>
            <div class="row util-row">
              <div class="col-50 util-header">vender</div>
            </div>
            <div class="row">
              <div class="col util-add bold">Alpha Contractors Pvt. Ltd., Mumbai</div>
                 <button class="button button-icon ion-trash-a util-more assertive"></button>
            </div>
          </div>
          <div class="">
            <div class="row">
              <div class="col-33 util-header">Payment Date</div>
              <div class="col-33 util-header">Value released</div>
              <div class="col-33 util-header">
                <div class="">
                  Description
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-33 util-content bold">12.06.2016</div>
              <div class="col-33 util-content bold">₹ 5,00,000</div>
              <div class="col-33">
                <div class="item-note">
                  <button class="button button-icon ion-camera util-camera"></button>
                </div>
                <div class="util-content bold">
                  Advance Payment
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-33 util-content bold">08.08.2016</div>
              <div class="col-33 util-content bold">₹ 5,00,000</div>
              <div class="col-33">
                <div class="item-note">
                  <button class="button button-icon ion-camera util-camera"></button>
                </div>
                <div class="util-content bold">
                  Final Payment
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="float-button">
    <a class="content" ng-click="openUtilizationAdd()">
      <i class="ion ion-plus"> </i>
    </a>
  </div>
  <ion-footer>
    <button class="button button-icon ion-plus-round"></button>
    <div class="tabs-custom">
      <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="app.project">
          <i class="ion-custom  ion-overview"></i> Overview
        </a>
        <a class="tab-item" ui-sref="app.fundFlow">
          <i class="ion-custom  ion-fundflow"></i> Fund Flow
        </a>
        <a class="tab-item" ui-sref="app.milestones">
          <i class="ion-custom  ion-milestone"></i> Milestones
        </a>
        <a class="tab-item calm" ui-sref="app.utilization">
          <i class="ion-custom  ion-utilization-active"></i> Utilization
        </a>
        <a class="tab-item" ui-sref="app.projectPhotos">
          <i class="ion-custom  ion-photos"></i> Photos
        </a>
      </div>
    </div>
  </ion-footer>
</ion-view>