.custom-radio {
  .toggle {
    .track {
      border-radius: 5px;
      width: 44px;
      height: 30px;
      background-color: #fff;
      box-shadow: none;
      border: 1px solid #ddd;
    }
    .handle {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      top: 7px;
      left: 8px;
    }
    .icon-lock {
      &:after {
        content: url('../img/lock-icon.png');
        height: 20px;
        width: 20px;
        display: block;
        transform: scale(.5);
        padding: 1px 4px;
      }
    }
  }
}

.top-card {
  margin: 0px;
  .item {
    padding: 8px 10px;
  }
}

.overview-mid {
  background-color: #f0f5f7;
  padding: 0;
  .col-66 {
    border-right: 1px solid $stable;
  }
  .col-33 {
    .top {
      border-bottom: 1px solid $stable;
    }
  }
  .f12 {
    font-size: 12px;
  }
  p {
    color: #546a79;
  }
}

.box {
  background-color: $energized;
  color: white;
  padding: 15px 5px;
}

.uppercase {
  text-transform: uppercase;
}

.fund-date {
  p {
    text-transform: uppercase;
    color: #546a79;
  }
  label {
    color: #546a79;
  }
  .grey {
    color: #c3cace;
  }
  .light-grey {
    color: #eeeeee;
  }
}
.mile-card{
  margin: 5px 0px 10px 0px;
  .button-div{
    margin-top: -25px;
    button{
      padding: 0px;
      vertical-align: middle;
      font-size: 28px;
      color: #525252;
    }
    .more{
      color: #c1c1c1;
      margin-left: 12px;
    }
  }
  p{
    line-height: 25px;
    margin: 0px;
  }
  .header{
    color: #546a79;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
  }
  .details{
    margin-top: 25px;
  }
  .content{
    color: #333333;
    font-size: 16px;
    font-weight: 400;

  }
}
.float-button {
background-color:$orange;
opacity: 0.9;
color: white;
border-radius: 50%;
width: 25px;
padding: 25px;
position: fixed;
bottom: 10%;
right: 7%;
z-index: 1000;
}


.float-button .height_fix {
  margin-top: 80%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  bottom: -27%;
  text-align: center;
  i{
    font-size: 25px;
  }
}
