<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">Comments</h1>
    <div class="buttons">
      <button class="button button-clear ion-close" ng-click="closePopup()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Comment</span>
    <textarea type="text" placeholder=""> </textarea>
  </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block">
  Comment
</button>
    </div>
  </ion-content>
</ion-modal-view>
