<ion-modal-view>
    <ion-header-bar class="bar-positive bar bar-header">
        <h1 class="title">Create Project</h1>
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeCreate();"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="" name="projectForm" ng-submit="createprojectFun(formData)">
            <ion-list>
                <ion-item>
                    <div class="input-label">Project Type</div>
                    <select class="projecttype work-order" ng-model="formData.projectType" ng-options="p.name as p.name for p in findAllProjectType track by p._id"
                        required name="projectType">
                         <option selected="true" value="" disabled>Project Type</option>
                    </select>
                    <p class="errorRed" ng-if="projectForm.projectType.$error.required && projectForm.projectType.$touched">Please Enter Project Type</p>
                </ion-item>
                <ion-item>
                    <div class="input-label">Asset type</div>
                    <select class="projecttype work-order" ng-model="formData.assetType" ng-options="p.name for p in findAllAssetType track by p._id"
                        required name="assetType">
                    <option selected="true" value="" disabled>Asset type</option>
                  </select>
                    <p class="errorRed" ng-if="projectForm.assetType.$error.required && projectForm.assetType.$touched">Please Enter Asset type</p>
                </ion-item>
                <ion-item>
                    <div class="input-label">Total Value (In Rs)</div>
                    <input type="text" placeholder=" Total Value (In Rs)" only-digits required cleave="options.currency" name="valueOfProject"
                        ng-model="formData.valueOfProject">
                    <p class="errorRed" ng-if="projectForm.valueOfProject.$error.required && projectForm.valueOfProject.$touched">Please Enter Total Value</p>
                </ion-item>
                <ion-item>
                    <div class="input-label">Amount of Work (In %)</div>
                    <input type="number" placeholder="Amount of Work (In %)" name="allocationAmountOfWork" required ng-model="formData.allocationAmountOfWork">
                    <p class="errorRed" ng-if="projectForm.allocationAmountOfWork.$error.required && projectForm.allocationAmountOfWork.$touched">Please Enter Amount of Work</p>
                </ion-item>
                <ion-item>
                    <div class="input-label">Due Date</div>
                    <input placeholder="Due Date" class="textbox-n" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')"
                        id="date" required ng-model="formData.dueDate" name="dueDate">
                    <p class="errorRed" ng-if="projectForm.dueDate.$error.required && projectForm.dueDate.$touched">Please Enter Due Date</p>
                </ion-item>
            </ion-list>
            <div class="padding">
                <button class="button button-positive button-block disabledOP" type="submit">
                    Create
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>