<ion-modal-view>
    <ion-header-bar class="bar-positive bar bar-header">
        <h1 class="title">Edit Project</h1>
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeEdit();"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form class="" ng-submit="EditprojectFun(project)">
            <ion-list>
                <ion-item>
                    <div class="input-label">Project Type</div>
                    <select class="projecttype work-order" ng-model="project.projectType" ng-options="p.name for p in findAllProjectType track by p._id">
                        <option selected="true" value="" disabled>{{project.projectType}}</option>
                    </select>
                </ion-item>
                <ion-item>
                    <div class="input-label">Asset type</div>
                    <select class="projecttype work-order" ng-model="project.assetType" ng-options="p.name for p in findAllAssetType track by p._id">
                    <option selected="true" value="" disabled>{{project.assetType}}</option>
                  </select>
                </ion-item>
                <ion-item>
                    <div class="input-label">Total Value (In Rs)</div>
                    <input type="text" placeholder=" Total Value (In Rs)" ng-model="project.valueOfProject">
                </ion-item>
                <ion-item>
                    <div class="input-label">Amount of Work (In %) </div>
                    <input type="text" placeholder="Amount of Work (In %)" ng-model="project.allocationAmountOfWork">
                </ion-item>
                <ion-item>
                    <div class="input-label">Due Date</div>
                    <input placeholder="Due Date" class="textbox-n duedate" type="date" 
                        id="date" ng-model="project.dueDate" min="{{project.createdAt | date:'dd-MM-yyyy'}}">
                </ion-item>
            </ion-list>
            <div class="padding">
                <button class="button button-positive button-block" type="submit">
                    <!-- <button class="button button-positive button-block" ng-click="closeCreate();"> -->
                Update
              </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>