<ion-modal-view>
    <ion-header-bar class="bar-positive bar bar-header">
        <h1 class="title">Select Access Point</h1>
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closeAccess()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
      <form class=""  ng-submit="filterLogin(filter.Access,Access);">


        <div class="">
            <div class="row">
                <div class="col loginfilter">
                    <ion-radio ng-model="Access" value="Center" >Center</ion-radio>
                </div>
                <div class="col loginfilter">
                    <ion-radio ng-model="Access" value="State" >State</ion-radio>
                </div>
                <div class="col loginfilter">
                    <ion-radio ng-model="Access" value="Institute" >Institute</ion-radio>
                </div>
            </div>

            <div class="list">

                <label class="item item-input item-select" ng-show="Access === 'Center'">
            <div class="input-label">
            Center
            </div>
          <select class="gender" ng-model="filter.Access" ng-options="centers.name for centers in filter.center " >
                <option selected="true" value="" disabled>Center</option>

            </select>
        </label>
                <label class="item item-input item-select" ng-show="Access === 'State'">
            <div class="input-label">
            State
            </div>
           <select class="gender" ng-model="filter.Access" ng-options="states.name for states in filter.state " >
                <option selected="true" value="" disabled>State</option>
            </select>
          </label>
                <label class="item item-input item-select" ng-show="Access === 'Institute'">
            <div class="input-label">
            Institute
            </div>
           <select class="gender" ng-model="filter.Access" ng-options="institutes.name for institutes in filter.institute "  >
                <option selected="true" value="" disabled>Institute</option>
            </select>
        </label>

            </div>
            <div class="setting-down text-center" ng-if="Access === 'State'|| Access === 'Center' || Access === 'Institute' ">
                <button class="button button-small button-assertive uppercase submit-pop" type="submit">submit</button>
            </div>
        </div>
          </form>
    </ion-content>
</ion-modal-view>
