<div>
  <div class="popup-head">
    <ion-header-bar class="bar-positive bar bar-header">
        <h1 class="title">Add Expense Detail</h1>
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="closePaymentEdit()"></button>
        </div>
    </ion-header-bar>
  </div>

    <div class="milestone-popup">
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab title="Details" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
    <div class="tab-mile">
      <ion-content>
        <ul class="list">
          <li>
             <label class="item item-input item-stacked-label">
               <select class="work-order ">
                     <option selected="true" value="" disabled>Choose Vendor</option>
                     <option>Ruchira Padave</option>
                     <option>Ganesh Kothavale</option>
              </select>
             </label>
          </li>
          <li>

          <label class="item item-input item-stacked-label">
            <!-- <span class="input-label">Value Allocated</span> -->
            <input type="text" placeholder="Value Allocated">
          </label>
          </li>

        </ul>


          <div class="setting-down text-center">
           <button class="button  button-assertive uppercase submit-pop" ng-click="closePaymentEdit();">submit</button>
         </div>
        </ion-content>

    </div>


  </ion-tab>

  <ion-tab title="Photos" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline">
    <div class="tab-mile">
      <ion-content>
 <div class="photos">
          <div class="row" >
         <div class="col">
   <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>

         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
             <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>

     </div>
          <div class="row" >
         <div class="col">
   <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>

         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
             <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>

     </div>
     <div class="row" >
         <div class="col">
   <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>

         </div>
          <div class="col">
              <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>
          <div class="col">
             <div class="image-grid">
    <img src="img/venkman.jpg" alt="image-grid">
              </div>
         </div>

     </div>
 </div>
</ion-content>

</div>
  </ion-tab>

  <ion-tab title="Comments" icon-on="ion-ios-more" icon-off="ion-ios-more-outline">
    <div class="tab-mile">
      <ion-content>
      <ion-list >
          <ion-item class="comment-section">
 <div class="listings">
       <label>Comment:</label>
  <label class="item item-input comment-text">
    <textarea class="resize" placeholder="Comments"></textarea>
  </label>
   <div class="padding">
            <button class="button button-positive button-block">
  Submit
</button>
        </div>
</div>
          </ion-item>
      </ion-list>
    </ion-content>

    </div>

  </ion-tab>

</ion-tabs>



    </div>
</div>
