<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">{{modalheader}} Work Order Detail</h1>
    <div class="buttons">
      <button class="button button-clear ion-close" ng-click="closePaymentEdit();"></button>
    </div>
  </ion-header-bar>
  <ion-content class="">
    <form class="" ng-submit="addAllocation(allocationData);" name="allocationForm">
      <ul class="list">
        <li>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Choose Vendor</span>
               <select class="work-order" ng-model="allocationData.vendor" required ng-options="i.name for i in vendorlist track by i._id" >
                             
                           </select>
            <p class="errorRed" ng-if="allocationForm.vendor.$error.required && allocationForm.vendor.$touched">Please select Vendor</p>

                <label for="" ng-if="modalheader =='Edit'">{{allocationData.vendor.name}}</label>
          <!-- <input type="text" ng-model="allocationData.vendor.name"  disabled  ng-if="modalheader =='Edit'" >  -->
          </label>
        </li>
        <ul>

          <label class="item item-input item-stacked-label">
          <span class="input-label">Value Allocated</span>
          <input type="text" placeholder="Value Allocated" cleave="options.currency" name="allocatedAmount" only-digit required ng-model="allocationData.allocatedAmount">
         <p class="errorRed" ng-if="allocationForm.allocatedAmount.$error.required && allocationForm.allocatedAmount.$touched">Please enter Allocated Amount</p>

        </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Issue Date</span>
          <input  class="textbox-n" type="date"  required   name="orderIssueDate" ng-model="allocationData.orderIssueDate">
         <p class="errorRed" ng-if="allocationForm.orderIssueDate.$error.required && allocationForm.orderIssueDate.$touched">Please enter Issue Date</p>

        </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Due Date</span>
          <input  class="textbox-n" type="date"  required name="orderDueDate" ng-model="allocationData.orderDueDate">
          <p class="errorRed" ng-if="allocationForm.orderDueDate.$error.required && allocationForm.orderDueDate.$touched">Please enter Due Date</p>

        </label>
          <!--<label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea type="text" ng-model="allocationData1.description" placeholder="Description"></textarea>
        </label>-->
          <label class=" item-input">
            <div class="input-label">Upload work-order file</div>
              <button type="button" name="button" ng-click="addCopy(1)">Upload Photos</button>
        </label>
          <div class="row" ng-if="allocationData.orderFile">
            <div class="col">
              <div class="image-grid" ng-if="allocationData.orderFile.slice(allocationData.orderFile.length-3, allocationData.orderFile.length) =='pdf'  "
                ng-click="openPDF(allocationData.orderFile)">
                <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
              </div>
              <div class="image-grid" ng-if="allocationData.orderFile.slice(allocationData.orderFile.length-3, allocationData.orderFile.length) !='pdf'"
                ng-click="openImage(allocationData.orderFile)">
                <img ng-src="{{allocationData.orderFile | uploadpath}}">
              </div>
            </div>
          </div>


          <div class="setting-down text-center">
            <button class="button  button-assertive uppercase submit-pop" type="submit" ng-disabled="!allocationData ">Submit</button>
          </div>
    </form>

  </ion-content>

</ion-modal-view>