<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title" ng-if="id != null">Edit Transaction </h1>
    <h1 class="title" ng-if="id ==null">Add Transaction </h1>

    <div class="buttons">
      <button class="button button-clear ion-close" ng-click="closetransaction()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list vendordetails">
      <div class="list">
  
        <label class="item item-input item-stacked-label">
          <span class="input-label">Installment No.</span>
          <input type="number"  placeholder="Installment No." ng-model="transactionData.installment" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Payment Sent Date</span>
          <input type="date" id="date" placeholder="Payment Sent Date" ng-model="transactionData.transactionSent" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Payment Received Date</span>
          <input type="date" id="date" placeholder="Payment Received Date" ng-model="transactionData.transactionReceived" required>
          <!-- readonly make it -->
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Value Released (INR) :</span>
          <input type="text" placeholder="Value Released" cleave="options.currency" only-digit ng-model="transactionData.amount"  required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description :</span>
          <textarea placeholder="Description" ng-model="transactionData.remarks" required></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Upload payment Proof : <button type="button" name="button" ng-click="addInstallmentProof(1)">Upload Photos</button></span>
          <div class="row" ng-if="transactionData.file">
         <div class="col-25">
            <div class="image-grid" ng-if=" transactionData.file.slice(transactionData.file.length-3, transactionData.file.length) =='pdf'  " ng-click="openPDF(transactionData.file)">
                <img src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="">
            </div>
            <div class="image-grid" ng-if=" transactionData.file.slice(transactionData.file.length-3, transactionData.file.length) !='pdf'" ng-click="openImage(transactionData.file)">
                <img ng-src="{{transactionData.file | uploadpath}}">
            </div>
         </div>
     </div> 
        </label>

      </div>
    </div>

    <div class="setting-down text-center">
      <button class="button button-small button-assertive uppercase submit-pop" ng-click="saveTransaction(transactionData,id);"
        ng-disabled="!transactionData ">submit</button>
    </div>
  </ion-content>
</ion-modal-view>