<ion-modal-view class="utilize-edit">
  <ion-content ng-click="closeUtilizationEdit();">
    <div class="list-edit">
      <div class="list">
        <a class="item item-icon-left" ng-click="openCreate();">
          <i class="icon ion-document-text"  ></i> Edit Project Details
        </a>
        <a class="item item-icon-left " ng-click="openPaymentEdit();">
          <i class="icon ion-custom-rupee"></i> Add Expense Details
          <!-- <img src="img/rupeeicon.png" alt=""> Add/Edit Payment Details -->
        </a>
        <!-- <a class="item item-icon-left" ng-click="openMilestoneEdit();">
          <i class="icon ion-calendar"></i> Add/Edit Milestones
        </a> -->
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-chatboxes"></i> Add/Edit Notes
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-camera"></i> Add/Edit Photos
        </a>
        <a class="item item-icon-left mark-as" href="#">
          <!-- <i class="icon ion-ios-folder-outline"></i> Mark as Complete -->
          <img src="img/markas.png" alt=""> Mark as Complete
        </a>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
